// [1] Variables
@import "helpers/_vars.scss";
// [2] Mixins
@import "helpers/_mixins.scss";



//[3] Basic Styles
@import "basic/_fonts.scss";
@import "basic/_typography.scss";
@import "basic/_global.scss";
@import "components/_buttons.scss";

// [4] Components
@import "components/_unitedComponent.scss";
@import "components/_homepage.scss";
@import "components/_speakers.scss";
@import "components/_login.scss";
@import "components/_banner.scss";
@import "components/_payments.scss";
@import "components/_partners.scss";
@import "components/_faqs.scss";
@import "components/_about.scss";
@import "components/_satellite.scss";
@import "components/_profile.scss";
@import "components/_experience.scss";
@import "components/_tracks.scss";
@import "components/_agenda.scss";
@import "components/_notFound.scss";

.sgt {
  right: 27px;
  bottom: 20px;
}
html {
  overflow-y: scroll;
}

//[5] Modules Styles
@import "modules/_header.scss";
@import "modules/_footer.scss";
@import "animation.scss";


//[5] Responsive Styles
@import "responsive/responsive.scss";
