.footer--component {
  background-color: #000000;
  padding: 40px 70px 0 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #aaaaaa;
    font-size: em(12);
    font-family: $semi;
  }
  .content--wrap {
    display: flex;
    width: 80%;
    flex-direction: row;
    .menu--wrap {
      flex: 1;
      margin-top: 35px;
      ul {
        align-items: center;
        li {
          display: block;
          align-items: center;
          a {
            font-size: em(11);
            text-transform: capitalize;
            color: #aaaaaa; // font-family: $xblack;
            &:after {
              content: "";
              display: block;
              border-bottom: 1px solid #aaaaaa;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    .subscribe--wrap {
      margin-top: 35px;
      display: flex;
      flex: 3;
      flex-direction: column;
      .btn-newsletter {
        padding-top: 1.2%;
        font-size: 14px;
        letter-spacing: 0.22rem;
        height: 40px;
        border-radius: 0;
        background-color: rgb(44, 64, 140);
        font-family: $xblack;
        color: $w;
        width: 50%;
        margin-top: -10px;
        margin-left: -1px;
      }
    }
  }
  .copyrights--content {
    text-align: center;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    span {
      color: white;
      font-weight: bold;
      margin-right: 2%;
    }
    ul {
      li {
        display: inline-block;
        margin: 0 5px;
        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-color: $w;
          border-radius: 50%;
          text-align: center;
          line-height: 30px;
          align-items: "center";
          @include tran(0.2s);
          i {
            color: #000;
          }
        }
      }
      .fb:hover {
        background-color: blue;
      }
      .inst:hover {
        background-color: red;
      }
      .tw:hover {
        background-color: turquoise;
      }
    }
  }
}
