.riseup--products {
  background-color: #000;
  padding: 0 25px;
  max-height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  ul {
    a {
      display: inline-block;
      padding: 10px 15px;
      color: $w;
      font-family: $semi;
      font-size: em(12);
      @include tran(0.2s);
      letter-spacing: 1px;
      &:hover {
        color: $yellow;
      }
    }
  }
}

.riseup--products ul:first-child {
  display: flex;
  justify-content: flex-start;
}

.riseup--products ul:last-child {
  display: flex;
  align-self: "flex-end";
}

//.main--menu .menu--nav .menu--items .items li a
.main--menu {
  width: calc(100%);
  position: fixed;
  top: 40px;
  z-index: 100;
  &.v2 {
    background-color: #5f5f5f;
    height: 70px;
    margin-top: -1px;
    .menu--nav .menu--logo img {
      display: none;
    }
  }
  .menu--nav {
    display: flex;
    justify-content: space-between;
    left: 40px;
    padding: 0 40px;
    .menu--logo {
      margin: 1%;
      img {
        width: 164px;
        height: 70px;
      }
    }
    .menu--items {
      align-items: center;
      & > .items {
        display: flex;
        align-items: center;
        height: 100%;
        & > li {
          & > a:not(.menu--btn) {
            display: inline-block;
            line-height: 45px;
          }
        }
        li {
          position: relative;
          a {
            color: $yellow2;
            font-family: $semi;
            padding: 13px 15px;
            text-transform: uppercase;
            &.menu--btn {
              padding: 7px 15px;
              background: $yellow;
              color: $blue;
              font-family: $bold;
              max-height: 42px;
              display: inline-block;
              margin-left: 5px;
            }
          }
          ul {
            visibility: hidden;
            position: absolute;
            top: 54px;
            left: 15px;
            background: rgba(255, 255, 255, 1);
            min-width: 200px;
            @include bo-shad();
            &:before {
              content: "";
              position: absolute;
              top: -7px;
              left: 10px;
              display: include;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 7.5px 7px 7.5px;
              border-color: transparent transparent rgba(255, 255, 255, 1)
                transparent;
            }
            li {
              a {
                display: block;
                width: 100%;
                padding: 10px 20px;
                span {
                  position: relative;
                  font-size: em(10);
                  z-index: 10;
                  color: #000;
                  display: inline-block;
                  font-family: $semi;
                  letter-spacing: 1px;
                }
                &:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  background: $yellow;
                  width: 0%;
                  height: 100%;
                  @include tran(0.2s);
                }
                &:hover {
                  &:before {
                    width: 100%;
                  }
                }
              }
            }
          }
          &:hover {
            ul {
              visibility: visible;
              animation: 0.2s scale linear;
            }
          }
        }
      }
    }
  }
  &.fixed--menu {
    top: 0;
    background: #000;
    z-index: 10000;
    .menu--nav .menu--logo img {
      width: 120px;
    }
    .menu--items .items a {
      font-size: em(13);
    }
  }
}

body.yellow-version {
  .main--menu .menu--nav .menu--items .items li a {
    color: $blue;
  }
  .main--menu .menu--nav .menu--items .items li a.menu--btn {
    color: $yellow;
    background-color: $blue;
  }
  .main--menu.fixed--menu .menu--nav .menu--items .items li a {
    color: $yellow;
  }
  .main--menu.fixed--menu .menu--nav .menu--items .items li a.menu--btn {
    color: $blue;
    background-color: $yellow;
  }
}

@keyframes MenuScale {
  0% {
    // transform: scale(0);
    top: 20;
  }
  50% {
    // transform: scale(1);
    top: 10;
  }
  100% {
    // transform: scale(1);
    top: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
