@mixin bor-rad($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin tran($tran) {
  -webkit-transition:$tran linear;
     -moz-transition: $tran linear  ;
      -ms-transition: $tran linear;
          transition: $tran linear ;
}
@mixin bo-shad {
  -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.05);
   box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.05);
}
@mixin huge-shad {
   -webkit-box-shadow: 0px 8px 15px 8px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 15px 8px rgba(0,0,0,0.1);
   box-shadow: 0px 8px 15px 8px rgba(0,0,0,0.1);
}
@function em($target-val , $context :$base-line){
  @return ($target-val / $context ) *1em;
}
@mixin rotate($val){
  transform: rotate($val);
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
}
@mixin cover(){
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
@mixin grd($fade:1){
  background: rgba(56,105,177,$fade); /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(56,105,177,$fade) , rgba(108,112,198,$fade)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(56,105,177,$fade) ,rgba(108,112,198,$fade)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@mixin shad() {
  -webkit-box-shadow: -8px 8px 0px 0px rgba(152,94,27,1);
  -moz-box-shadow: -8px 8px 0px 0px rgba(152,94,27,1);
  box-shadow: -8px 8px 0px 0px rgba(152,94,27,1);
}
@mixin place($color){
    ::-webkit-input-placeholder {
     color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: $color;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }

  :-ms-input-placeholder {
     color: $color;
  }
}
%flex{
  display: flex;
  -webkit-display:flex;
}

@mixin colorBor($color1, $color2, $width) {
  border-left: $width solid $BrandYellow;
  border-right: $width solid $BrandPurple;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  -webkit-background-size: 100% $width;
  -moz-background-size: 100% $width;
  background-size: 100% $width;
  background-image: -webkit-linear-gradient(left, $color1 0%, $color2 100%), -webkit-linear-gradient(left, $color1 0%, $color2 100%);
  background-image: -moz-linear-gradient(left, $color1 0%, $color2 100%), -moz-linear-gradient(left, $color1 0%, $color2 100%);
  background-image: -o-linear-gradient(left, $color1 0%, $color2 100%), -o-linear-gradient(left, $color1 0%, $color2 100%);
  background-image: linear-gradient(to right, $color1 0%, $color2 100%), linear-gradient(to right, $color1 0%, $color2 100%);
}

@mixin grde($c1,$c2) {
  background: $c1;
  background: -webkit-linear-gradient(to right, $c1, $c2);
  background: linear-gradient(to right, $c1, $c2);
}
