$w:#fff;
$b:#555;
$blue:#254D9F;
$BrandYellow:#ff7b32;
$yellow:#FCE100; 
$yellow2: #FCE100;
$BrandPurple:#4c3c6b;

$reg:'Proxima Nova Reg';
$bold:'Proxima Nova bold';
$semi:'Proxima Nova semi';
$xblack: 'Proxima Nova black';
$red:#db0b17;
$erorr: #e74c3c;
$base-line:14;
