.team--component{
	.feature--post .right--side p{
		color: #D81313;
	}
	.team--list{
		display: flex;
		flex-wrap: wrap;
		.team--item{
			width: 25%;
			padding:15px 0;
			h3{
				color: $yellow;
				font-size: em(18);
				font-family:$xblack;
				margin:0;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			p{
				font-size: em(14);
				font-family:$semi;
				color: $yellow;
				text-transform: uppercase;
			}
		}
	}
}
.about--wrap.v2{
	.nav--wrap li div.active{
		background: #362145 !important;
	}
	.feature--post .right--side h3,
	.feature--post .products_wrap .product h4,
	.parllex-fix .section--header.section{
		color: #362145 !important;
	}
}
.team--component .feature--post .right--side p{
	color:#5F5F5F;
}