.agenda--main-banner {
  position: relative;
  background: url("https://2016.riseupsummit.com/wp-content/uploads/2017/11/blue.png")
    no-repeat;
  background-color: $blue;
  background-size: cover;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
  h1 {
    color: $yellow;
    font-family: $xblack;
    font-size: em(40);
    letter-spacing: 1px;
  }
  .btn-default {
    border-radius: 0;
    background-color: $yellow;
    color: $blue;
    letter-spacing: 1px;
    border: 0;
    font-size: em(16);
    padding: 15px 25px;
    font-family: $xblack;
  }
}

.agenda--tabs--wrapper {
  position: relative;
  .agenda--tabs {
    display: flex;
    justify-content: center;
    background-color: $w;
    position: relative;
    padding-top: 25px;
    li {
      &:nth-child(1) {
        button {
          border-radius: 3px 0 0 3px;
          border-left: 2px solid #f1f1f1;
          border-right: 2px solid #f1f1f1;
        }
      }
      &:nth-child(3) {
        button {
          border-radius: 0 3px 3px 0;
          border-right: 2px solid #f1f1f1;
          border-left: 2px solid #f1f1f1;
        }
      }
      button {
        background-color: #fff;
        font-family: $xblack;
        padding: 15px 25px;
        display: inline-block;
        border-top: 2px solid #f1f1f1;
        border-bottom: 2px solid #f1f1f1;
        .day {
          font-family: $xblack;
          color: #8f8f8f;
          text-align: center;
          position: relative;
          text-transform: uppercase;
          font-size: em(16);
          margin: 0;
          span {
            position: absolute;
            display: inline-block;
            font-family: $xblack;
            top: -5px;
            font-size: 20px;
            font-size: 13px;
          }
          i {
            font-family: $xblack;
            font-style: normal;
            margin-left: 22px;
          }
        }
      }
      &.active {
        button {
          background-color: $yellow;
          border-color: $yellow;
          .day {
            color: $blue;
          }
        }
      }
    }
  }
}

.agenda--wrap {
  position: relative;
  background-color: $w;
  padding: 40px 50px;
  width: 100%;
  overflow: hidden;
  .agenda--dayBanner {
    background-color: $yellow;
    letter-spacing: 4px;
    color: darkslategrey;
    font-size: em(40);
    min-height: 75px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    font-stretch: expanded;
  }
  .agenda--grid {
    position: relative;
    width: 100%;
    .sessions--wrap {
      height: 100%;
    }
    .time--captions {
      list-style: none;
      padding: 0;
      width: 1400px;
      li {
        margin-bottom: 25px;
        margin-top: -1px;
        border-top: 1px solid #d9deed;
        padding-top: 4px;
        display: flex;
        span {
          color: $blue;
          display: block;
          width: 50%;
          font-size: em(12);
          font-family: $semi;
          height: 22px;
          &.left {
            text-align: left;
          }
          &.right {
            text-align: right;
          }
        }
        &.active {
          border-color: #5064ae;
          span {
            font-family: $xblack;
            font-size: em(16);
          }
        }
      }
    }
  }
  .location--wrap {
    display: flex;
    margin-top: 5px;
    &.fixed {
      margin-top: 37px;
      position: fixed;
      top: 60px;
      z-index: 40;
      width: 92%;
      @include tran(0.5s);
      ol {
        width: 100%;
      }
    }
    ol {
      display: flex;
      padding: 0;
      list-style: none;
      width: 100%;
      li {
        color: $w;
        font-family: $xblack;
        width: 33%;
        margin-right: 5px;
        background-color: $w;
        span {
          font-family: $semi;
          letter-spacing: 1px;
          margin: 5px;
        }
        .item {
          position: relative;
          padding: 15px;
          padding-bottom: 25px;
          min-height: 95px;
          background-color: #254d9f;
          h5 {
            margin: 0;
            font-family: $xblack;
            font-size: em(16);
            text-transform: uppercase;
            color: $yellow;
            i {
              font-style: normal;
              font-family: $semi;
              letter-spacing: 1px;
              margin-bottom: 5px;
              display: block;
              color: white;
            }
          }
          h6 {
            position: absolute;
            bottom: 5px;
            color: $w;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .sessions--wrap {
    .workshops_container {
      display: inline-block;
      width: 100%;
      .left {
        width: 50%;
        float: left;
      }
      .right {
        width: 50%;
        float: right;
      }
    }
    .location_container {
      // min-height: 5800px;
      width: 100%;
      ul {
        width: 33%;
        display: inline-block;
        li {
          width: 33%;
          position: absolute;
        }
      }
    }
    .item--type {
      background: $yellow;
      text-align: left;
      padding-left: 2%;
      color: $blue;
      font-size: 18px;
      font-weight: bold;
    }
    .item--type--AR {
      background-color: $blue;
      color: white;
      font-weight: bold;
      font-size: 14px;
      padding: 4px 10px;
      float: right;
    }
    .item {
      position: relative;
      overflow-x: hidden;
      cursor: pointer;
      color: $w;
      padding: 5px 10px;
      border-bottom: 1px solid #f1f1f1;
      margin-bottom: 10px;
      &.workshops {
        max-width: 100%;
        margin: 0;
        list-style: none;
        cursor: default;
        li {
          min-height: 115px; // width: 34%;
          cursor: pointer;
          position: relative; // display: inline-block;
        }
      }
      &.other_activities {
        max-width: 100%;
        margin: 0;
        list-style: none;
        cursor: default;
        background: #b32fb8;
        min-height: 100px;
        li {
          width: 34%;
          cursor: pointer;
          position: relative;
          display: inline-block;
          padding: 1% 0px;
        }
        h5 {
          color: white;
          min-height: 10px;
        }
        h4 {
          font-size: 20px;
          color: white;
          text-transform: uppercase;
          min-height: 10px;
          font-weight: bold;
        }
      }
      p {
        margin: 0;
        font-family: $xblack;
        letter-spacing: 1px;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        margin-top: 10px;
        &.verical_text {
          transform: rotate(-90deg);
          transform-origin: left top 0;
          display: inline-table;
          margin-top: 300px;
          position: absolute;
          font-size: 13px;
          width: 300px;
          margin-left: 2px;
        }
        &.coming_soon {
          color: $blue;
        }
      }
      h3 {
        color: #dac403;
        margin: 0;
        font-family: $semi;
        text-transform: uppercase;
        margin-top: 3px;
        font-size: 17px;
      }
      h4 {
        margin: 0;
        text-transform: capitalize;
        color: $blue;
        margin-top: 4px;
        font-size: 19px;
        font-weight: bold;
      }
      h5 {
        margin: 0;
        font-family: $semi;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: lighter;
        color: $blue;
        max-height: 32px;
      }
      &.break {
        text-align: center;
        padding: 0;
        h4 {
          text-align: center;
          color: $blue;
          font-family: $xblack;
          letter-spacing: 1px;
          font-size: em(16);
          margin-top: 40px;
          text-transform: uppercase;
        }
        p {
          background-color: #fae100;
          color: $blue;
          padding: 10px;
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: em(16);
        }
      }
    }
    .workshops-banner {
      background-color: #2bb47f;
      color: white;
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
      padding: 5px 1.3%;
      margin-top: 5%;
      margin-bottom: 2%;
      &.fixed {
        position: fixed;
        top: 112px;
        width: 100%;
        z-index: 50;
      }
    }
    .other_activities-banner {
      background: $yellow;
      text-align: left;
      padding-left: 2%;
      color: $blue;
      font-size: 20px;
      font-weight: bold;
      margin-top: 5%;
    }
  }
  .session--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .workshops--container {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.ReactModal__Overlay
  .speaker-modal--preview.session--details
  .speaker--details {
  width: 100%;
  margin-top: 80px !important;
  &.profile--session {
    .msg--text {
      color: $blue;
      font-family: $semi;
      margin: 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: em(14);
      max-width: 90%;
    }
    .content h3 {
      font-size: 24px;
    }
    .apply--session-button {
      background-color: $blue;
      color: $w;
      font-family: $xblack;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      bottom: -25px;
      padding: 15px 40px;
      letter-spacing: 1px;
      font-size: 18px;
      border: 3px solid $w;
    }
  }
  .details {
    margin-top: 10px;
    font-size: em(16);
    max-width: 800px;
    line-height: 22px;
    &:before {
      content: "";
      display: block;
      background-color: $blue;
      width: 50px;
      height: 4px;
      margin: 10px 0;
    }
  }
  .tags {
    margin-bottom: 15px;
    li {
      display: inline-block;
      background-color: $blue;
      color: $w;
      font-family: $xblack;
      text-transform: uppercase;
      margin-right: 5px;
      padding: 4px 6px;
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
  .main--list {
    li {
      display: inline-block;
      margin-right: 15px;
      color: #8f8f8f;
      font-family: $semi;
      text-transform: uppercase;
    }
  }
  .session--speakers--list {
    color: #000;
    border-top: 1px solid #f1f1f1;
    padding-top: 20px;
    margin-top: 20px;
    font-family: $xblack;
    font-size: em(16);
    letter-spacing: 2px;
    text-transform: uppercase;
    &:after {
      content: "";
      width: 40px;
      height: 3px;
      background-color: $blue;
      margin: 8px 0;
      display: block;
    }
  }
  .speakers--list--wrap {
    display: flex;
    li {
      display: flex;
      margin-right: 20px;
      max-height: 80px;
      .speaker--image {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;
        img {
          width: 100%;
        }
      }
      .speaker--details--wrap {
        h4 {
          margin: 0;
          font-family: $xblack;
          text-transform: uppercase;
          font-size: em(15);
          margin-top: 5px;
          color: $blue;
        }
        p {
          color: #8f8f8f;
          font-size: 12px;
          max-width: 300px;
          overflow: hidden;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  top: 0 !important;
}

.ReactModal__Overlay .speaker-modal--preview.session--preview {
  margin-top: 0 !important;
}

.ReactModal__Overlay
  .speaker-modal--preview.session--preview
  .speaker--details
  .content
  p {
  max-height: 100%;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .agenda--wrap {
    zoom: 0.5;
    padding: 5px;
    .sessions--wrap {
      .item {
        h5 {
          font-size: 15px;
          width: 150%;
        }
        h4 {
          font-size: 16px;
          width: 150%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .agenda--wrap .location--wrap.fixed {
    top: 100px;
  }
}

@media (max-width: 768px) {
  .agenda--wrap .location--wrap.fixed {
    position: relative;
    top: 0;
  }
  .sessions--wrap {
    .item {
      h5 {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .agenda--wrap {
    overflow-x: scroll;
    zoom: 0.5;
    -moz-transform: scale(0.6);

    .sessions--wrap {
      .item--type {
        font-size: 8px;
        max-height: 15px;
      }
    }
    .sessions--wrap {
      .location_container {
        ul {
          li {
            max-height: 120px;
          }
        }
      }

      .item {
        overflow: scroll;

        h3 {
          font-size: 6px;
        }
        h4 {
          font-size: 10px;
          margin: 0;
          width: 185%;
        }
        h5 {
          font-size: 9px;
          width: 185%;
        }
      }
    }
  }

  .agenda--wrap .location--wrap ol li span {
    margin: 0;
  }
  .ReactModal__Overlay .speaker-modal--preview .speaker--details .close {
    top: 25px;
    right: 20px;
  }
  .ReactModal__Overlay
    .speaker-modal--preview.session--details
    .speaker--details
    .speakers--list--wrap {
    display: block;
  }
  .ReactModal__Overlay
    .speaker-modal--preview.session--details
    .speaker--detailsf
    .content
    p {
    min-height: auto;
  }
  .ReactModal__Overlay
    .speaker-modal--preview.session--details
    .speaker--details
    .speakers--list--wrap
    li
    .speaker--image {
    width: 40px;
    height: 40px;
  }
  .ReactModal__Overlay
    .speaker-modal--preview.session--details
    .speaker--details {
    margin-top: 70px !important;
  }
  .ReactModal__Overlay
    .speaker-modal--preview.session--details
    .speaker--details
    .details:before {
    display: none;
  }
  .ReactModal__Overlay
    .speaker-modal--preview.session--details
    .speaker--details
    .session--speakers--list {
    padding-top: 0;
    border: 0;
  }
  .agenda--wrap .location--wrap ol li .item {
    font-size: 10px;
    overflow: hidden;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

.workshops-popup {
  max-width: 1000px;
  margin: 20px auto;
}

.notification-popup {
  max-width: 1000px;
  margin: 10% auto;
}
