.banner--section .content h1 {
  margin-top: 20%;
  font-size: em(40);
}


.titleSlider{

  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 text-align: center;
 padding-top:10px;
  .item{
    text-align: center;
    background-color: green;
    width:100%;
    p{
      display: inline-block;
      width: 100%;
height: 100%;      
      font-size: em(20);
      text-align: center
    }
  }
}

.banner--section .content h1 span {
  font-size: em(10);
}
