.btn-blue{
  border-radius: 0;
  background: #254D9F;
  color: #fff;
  padding: 10px 30px;
  font-family: "Proxima Nova black";
}
.center--content{
  padding: 10px;
  padding-top: 30px;
  text-align: center;
  position: relative;
  background-color: $w;
  p{
    color: #5F5F5F;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.main--button{
  font-size: 1.42857em;
  color: #254D9F;
  font-family: $xblack;
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  color: $blue;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #EFEFEF;
  padding: 10px 20px;
  border-radius: 2px;
  @include tran(.2s);
  img{
    width: 15px;
    margin-left: 15px;
    margin-top: -2px;
  }
  &:hover{
    background-color: $blue;
    color: $w;
    border-color: $blue;
  }
    
}