.videoFrame {
  height: 360px;
  display: flex;
  flex: 1;
}

.experience--wrap {
  position: relative;
  background-color: $w;
  min-height: 1000px;
  .feature--post .left--side img {
    display: block;
  }
  .feature--post .right--side .link {
    letter-spacing: 2px;
  }
  .banner--wrap {
    text-align: center;
    padding: 60px 0;
    h1 {
      color: $blue;
      font-family: $xblack;
    }
    p {
      color: #afafaf;
      font-family: $semi;
      text-transform: uppercase;
      margin-top: 15px;
    }
    .link {
      display: inline-block;
      font-size: 15px;
      color: "rgb(44,64,140)";
      font-family: $xblack;
      text-transform: uppercase;
      background-color: #fff;
      border: 2px solid #efefef;
      padding: 10px 20px;
      border-radius: 2px;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      transition: 0.2s linear;
      img {
        width: 15px;
        margin-left: 15px;
        margin-top: -2px;
      }
      &:hover {
        background-color: "rgb(44,64,140)";
        color: $w;
      }
    }
  }
  .section--wrap {
    background-color: $w;
    padding: 20px 30px 20px 30px;
    h3 {
      position: relative;
      text-align: center;
      color: $blue;
      font-family: $xblack;
      font-size: em(40);
      z-index: 10;
      margin-bottom: 50px;
      margin-top: 50px;
      &:before {
        display: none;
        content: "";
        position: absolute;
        width: 30%;
        height: 1px;
        top: 20px;
        left: 0;
        background-color: #95989a;
        z-index: 1;
      }
      &:after {
        display: none;
        content: "";
        position: absolute;
        width: 30%;
        height: 1px;
        top: 20px;
        right: 0;
        background-color: #95989a;
        z-index: 1;
      }
    }
  }
  .recommended-sessions {
    position: relative;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      left: -25px;
      top: 50%;
      color: $yellow;
      font-size: 24px;
    }
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      right: -25px;
      top: 50%;
      color: $yellow;
      font-size: 24px;
    }
    .item {
      margin: 15px;
      width: calc(25% - 30px);
      @include bo-shad();
      border-radius: 0 0 10px 10px;
      .img-wrap {
        width: 100%;
        max-height: 200px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .content {
        padding: 25px 15px;
        p {
          color: $blue;
          font-family: $xblack;
        }
      }
    }
  }
  .steps--wrap {
    display: flex;
    flex-wrap: wrap;
    .item {
      margin: 20px;
      width: calc(100% / 4 - 40px);
      @include bo-shad();
      border-radius: 10px;
      h4 {
        margin: 0;
        background-color: $blue;
        padding: 20px;
        text-align: center;
        color: $w;
        font-size: em(20);
        font-family: $xblack;
        border-radius: 10px 10px 0 0;
        letter-spacing: 1px;
      }
      .content {
        padding: 30px 30px 0 30px;
        li {
          text-align: center;
          margin-bottom: 30px;
          a {
            color: #afafaf;
            text-decoration: underline;
            font-family: $semi;
            letter-spacing: 1px;
            @include tran(0.1s);
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.my-experience.sessions--list {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: calc(33.333% - 40px);
    @include bo-shad();
    margin: 0 20px;
    margin-bottom: 50px;
    .banner {
      color: $yellow;
      position: relative;
      z-index: 5;
      &.clickable {
        cursor: pointer;
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
      .content {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 5;
        padding: 20px;
        .label--wrap {
          position: absolute;
          background-color: $blue;
          color: $w;
          font-family: $xblack;
          text-transform: uppercase;
          padding: 8px 12px;
          top: -20px;
          font-size: 14px;
          letter-spacing: 1px;
        }
        .date {
          font-family: $semi;
          margin-bottom: 5px;
          font-size: em(14);
        }
        h4 {
          font-family: $xblack;
          margin: 0;
          font-size: em(16);
          text-transform: uppercase;
          min-height: 34px;
          margin-bottom: 9px;
        }
        h5 {
          margin: 0;
          span {
            font-family: $semi;
            text-transform: uppercase;
          }
        }
      }
    }
    .content--info {
      .left-seats {
        position: absolute;
        top: -20px;
        right: 20px;
        z-index: 10;
        li {
          margin: 0;
          background-color: $w;
          color: $blue;
          padding: 2px 5px;
          font-size: em(13);
        }
      }
      padding: 20px;
      padding-bottom: 30px;
      position: relative;
      ul {
        li {
          display: inline-block;
          margin-bottom: 3px;
          background-color: $blue;
          color: $w;
          padding: 4px 5px;
          font-family: $xblack;
          margin-right: 3px;
          font-size: em(10);
          text-transform: uppercase;
        }
      }
      h6 {
        color: #5f5f5f;
        font-size: 14px;
        font-family: $semi;
        span {
          display: block;
          margin-top: 15px;
          font-family: $xblack;
        }
      }
      .location {
        color: #5f5f5f;
        font-size: 14px;
        display: block;
        margin-top: 15px;
        font-family: "Proxima Nova black";
        text-transform: uppercase;
        i {
          margin-right: 2px;
        }
      }
      .deadline {
        border-top: 1px solid #ddd;
        color: #afafaf;
        font-style: italic;
        font-size: em(13);
        line-height: em(18);
        margin-top: 40px;
        padding-top: 15px;
        font-family: $semi;
      }
      .btn-default {
        position: absolute;
        background-color: $blue;
        text-transform: uppercase;
        border-radius: 0;
        color: $w;
        border: 1px solid $w;
        font-size: em(13);
        font-family: $xblack;
        bottom: -20px;
        padding: 7px 14px;
        left: 0px;
        margin: 0 30%;
        display: inline-block;
        @include tran(0.2s);
        &:hover {
          background-color: $blue;
          color: $w;
        }
        &.right {
          left: auto;
          right: 125px;
          @include bo-shad();
          border: 0;
          border-color: $blue;
          background-color: $w;
          color: $blue;
        }
        &.left {
          left: 70px;
        }
        &.center {
          left: 0;
        }
      }
    }
    &:nth-child(odd) {
      .banner {
        background-color: $blue;
        color: $yellow;
        &:before {
          background: url("https://2016.riseupsummit.com/wp-content/uploads/2017/11/blue.png");
        }
      }
    }
    &:nth-child(even) {
      .banner {
        background-color: $yellow;
        color: $blue;
        &:before {
          background: url("https://2016.riseupsummit.com/wp-content/uploads/2017/11/yellow.png");
        }
      }
    }
  }
}

.LoginPopup {
  max-width: 400px;
  margin: 0 auto;
  .form-control {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: -2px;
    height: 45px;
    font-size: 1em;
  }
  p {
    line-height: auto;
    .btn {
      background-color: $w;
      border-color: $blue;
      color: $blue;
      padding: 0 8px;
      margin: 0;
      font-size: em(13);
    }
  }
  .btn {
    background: $blue;
    color: $w;
    font-family: $xblack;
    padding: 10px 15px;
    border-radius: 0;
    margin-top: 15px;
    text-transform: uppercase;
    border: 0;
  }
  .ReactModal__Overlay .speaker-modal--preview .speaker--details {
    min-height: auto;
  }
}

.ReactModal__Overlay .LoginPopup .speaker-modal--preview .speaker--details {
  min-height: auto;
  padding-bottom: 40px;
}

.ReactModal__Overlay
  .speaker-modal--preview.session--details
  .speaker--details
  .content
  p {
  min-height: auto;
}

.sessions-list__wrap {
  max-width: 90%;
  margin: auto;
}
