.faqs--wrap {
    padding: 60px 0;
    .faq--title {
        color: $blue;
        font-size: em(40);
        text-transform: uppercase;
        font-family: $xblack;
        max-width: 40%;
        margin-bottom: 60px;
        float: left;
    }
    .faqs--list {
        display: flex;
        flex-wrap: wrap;
        .faq--item {
            margin: 0 10px 20px 10px;
            width: calc(100% / 3 - 20px);
            @include bo-shad();
            padding: 30px;
            border-radius: 33px;
            background: white;
            h5 {
                color: $blue;
                font-size: em(25);
                font-family: $xblack;
                font-style: italic;
                margin-bottom: 20px;
                margin-top: 0;
            }
            p {
                font-size: em(14);
                color: #5f5f5f;
                font-family: $semi;
            }
        }
    }
}

.apps--download {
    margin-bottom: 80px;
    h2 {
        text-align: center;
        color: $yellow;
        font-family: $xblack;
        font-size: em(60);
        letter-spacing: 2px;
    }
    .buttons--wrap {
        text-align: center;
        margin-top: 30px;
        a {
            position: relative;
            border: 2px solid #000;
            display: inline-block;
            margin: 10px;
            border-radius: 40px;
            overflow: hidden;
            padding: 10px 30px 10px 100px;
            height: 60px;
            line-height: 40px;
            @include tran(0.2s);
            span {
                margin-top: -10px;
                font-family: $xblack;
                color: #000;
            }
            i {
                position: absolute;
                top: 0;
                left: 0;
                margin-right: 10px;
                font-size: em(25);
                background-color: #000;
                color: $w;
                padding: 17px 25px;
            }
            &:hover {
                background-color: #000;
                span {
                    color: $w;
                }
            }
        }
    }
}