.section {
  padding: 60px 0;
}

.new-banner {
  height: 100vh;
  position: relative;
  top: -40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/MainHeader.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .content {
    text-align: center;
    margin-top: 25%;
    p:first-child {
      font-family: $xblack;
      letter-spacing: 5px;
      color: $yellow;
      font-size: em(60);
    }
  }
}

.headers-common {
  .content {
    text-align: center;
    margin-top: 20%;
    max-width: 1040px;
    p:first-child {
      font-family: $xblack;
      letter-spacing: 20px;
      color: $yellow;
      font-size: em(20);
    }
    p:last-of-type {
      font-family: $xblack;
      color: $w;
      line-height: 30px;
      font-size: em(35);
    }
  }
}

.second-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/QuoteHeader1Image.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.third-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/QuoteHeader2Image.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.fourth-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/QuoteHeader3Image.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.fifth-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/QuoteHeader4Image.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.Homepage--slider {
  position: relative;
  display: flex;
  max-height: 220px;
  .item {
    width: 100%;
    .slider-first {
      width: 100%;
      position: relative;
      transform: translateY(-35%);
    }
    .slider-second {
      width: 100%;
      position: relative;
      transform: translateY(-40%);
    }
    .slider-third {
      width: 100%;
      position: relative;
      transform: translateY(-40%);
    }
    .slider--caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        color: $yellow;
        font-family: $semi;
        font-size: em(14);
        letter-spacing: 14px;
        max-width: 500px;
      }
      .sub-title {
        color: $w;
        font-family: $xblack;
        font-size: em(30);
        max-width: 400px;
      }
      .description {
        color: $w;
        font-family: $reg;
        font-size: em(14);
        max-width: 50%;
        text-align: center;
      }
    }
  }
}

.Homepage--component {
  .TicketsWrap.V2 {
    margin-top: 165px;
  }
}

.intro--date {
  //background: url('https://i.imgur.com/L9Oaa2H.jpg') no-repeat;
  background: url("../../assets/images/L9Oaa2H-min.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
  top: 0;
  left: 0;
  .overlay {
    padding: 15% 0;
    background: red;
    background-color: rgba(0, 58, 190, 0.16);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      color: $yellow;
      font-size: em(200);
      font-family: $xblack;
      position: relative;
      span {
        position: absolute;
        font-family: $xblack;
        font-size: 35px;
        top: 28px;
      }
    }
    p {
      color: $yellow;
      font-size: em(40);
      letter-spacing: 40px;
      font-family: $xblack;
    }
  }
  .v2 {
    display: none;
  }
}

.DemoScreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: #000;
  .v1 {
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $w;
      font-family: $xblack;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 30px;
      h3 {
        font-family: $xblack;
        font-size: em(30);
        color: $w;
        span {
          color: $yellow;
          font-family: $xblack;
        }
      }
    }
  }
  .v2 {
    //background: url('https://i.imgur.com/L9Oaa2H.jpg') no-repeat;
    background: url("../../assets/images/L9Oaa2H-min.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    .overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $w;
      font-family: $xblack;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      background: rgba(0, 85, 190, 0.16);
      h4 {
        font-family: $xblack;
        font-size: em(60);
        color: $yellow;
      }
    }
  }
}
// .tickets-soon {
//   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
//     url("../../assets/images/TicketsImage.png");
//   background-size: cover;
//   background-position: center;
//   max-height: 220px;
// }

.feature--slider{
  .item{
    max-height: 500px;
  }
}