.login--withId-wrap{
  background-color: $w;
  position: relative;
  height: 100vh;
  display: flex;
  .image-wrap{
    width: 60%;
    background: url('../../assets/images/MainHeader.jpg') no-repeat;
    background-size: cover;
  }
  .form--wrap{
    background-color: $w;
    display: flex;
    align-items: center;
    .login--form{
      width: 100%;
      display: block;
      padding: 30px;
      h3{
        color: $blue;
        font-family: $xblack;
        font-size: em(20);
      }
      p{
        font-family: $semi;
        color: #5F5F5F;
        &:after{
          content: '';
          width: 60px;
          height: 4px;
          background-color: $yellow;
          display: block;
          // margin: 25px 0;
        }
      }
      .form-control{
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        padding: 6px 12px;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: -2px;
        height: 45px;
        font-size: em(14);
      }
      .btn{
        background: $blue;
        color: $w;
        font-family: $xblack;
        padding: 10px 15px;
        border-radius: 0;
      }
    }
  }
  .send-id{
    margin-top: 15px;
    h4{
      color: $blue;
      font-family: $semi;
      font-size: em(14);
      text-transform: uppercase;
      a{
        font-family: $xblack;
        color: $blue;
        margin-left: 10px;
      }
    }
  }
}