.corp--wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  .item {
    width: calc(100% / 3);
    a {
      position: relative;
      width: 100%;
      height: 150px;
      display: block;
      text-align: center;
      line-height: 200px;
      cursor: pointer;
      img {
        max-width: 200px;
        margin: auto;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        @include tran(0.3s);
        &:hover {
          filter: grayscale(0);
          -webkit-filter: grayscale(0);
        }
      }
    }
    &.item-popup {
      position: relative;
      a:hover {
        .details {
          visibility: visible;
          animation: animate 0.1s linear;
        }
      }
      .details {
        background-color: $blue;
        border-radius: 2px;
        color: $w;
        font-family: $semi;
        position: absolute;
        top: -50px;
        padding: 15px 25px;
        line-height: 25px;
        visibility: hidden;
        &:before {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 45%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 7.5px 0 7.5px;
          border-color: #254d9f transparent transparent transparent;
        }
      }
    }
  }
}
@keyframes animate {
  from {
    top: -70px;
  }
  to {
    top: -50px;
  }
}
.corp-modal--preview {
  width: 500px;
  margin: auto;
  background-color: $w;
  header {
    position: relative;
    background-color: $blue;
    padding: 15px 35px;
    h4 {
      text-transform: uppercase;
      color: $w;
      font-size: em(14);
      font-family: $semi;
      letter-spacing: 1px;
      margin: 0;
    }
    .close {
      position: absolute;
      right: 30px;
      top: 17px;
      width: 15px;
      height: 15px;
      background-color: $w;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      opacity: 1;
    }
  }
  .content {
    padding: 70px 40px;
    .img--wrap {
      &:after {
        content: "";
        width: 60px;
        height: 4px;
        background-color: #95989a;
        display: block;
        margin: 35px 0;
      }
      img {
        width: 90px;
        display: block;
      }
    }
    p {
      color: $blue;
      font-family: $semi;
    }
  }
}
.PartnersModal {
  max-width: 500px;
  margin: auto;
  margin-top: 94px;
}
.parllex-fix {
  background-color: $w;
  position: relative;
  padding-top: 60px;
  padding-bottom: 20px;
  .section--header.section {
    margin-top: 0;
  }
}

.partnerships--wrap {
  .parllex-fix {
    padding-top: 0;
  }
  .parllex-fix .section--header.section {
    padding-top: 0;
  }
  .feature--post .right--side p {
    margin-bottom: 0;
  }
  .partnerships--list {
    background-color: $w;
    position: relative;
    .list-wrap {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 50px;
      .item {
        position: relative;
        margin: 0 15px;
        width: calc(100% / 3 - 30px);
        margin-bottom: 70px;
        @include bo-shad();
        border-radius: 0 0 5px 5px;
        .img-wrap {
          width: 100%;
          height: 200px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .details {
          padding: 30px 30px 30px 30px;
          h6 {
            font-family: $xblack;
            margin-top: 20px;
          }
          h3 {
            margin: 0;
            color: $blue;
            font-family: $xblack;
            font-size: em(24);
            line-height: 30px;
            margin-bottom: 15px;
            text-transform: uppercase;
            span {
              font-family: $semi;
              font-size: 18px;
            }
          }
          p {
            color: #5f5f5f;
            font-family: $semi;
            margin: 0;
            margin-bottom: 15px;
          }
          a {
            color: #afafaf;
            border-bottom: 1px solid #afafaf;
            padding-bottom: 2px;
          }
          .action--wrap {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -20px;
            text-align: center;
            .btn-blue {
              font-size: em(18);
              color: $w;
              padding: 10px 30px;
            }
          }
        }
        &.email-item {
          box-shadow: none;
          align-items: center;
          margin-top: 10%;
        }
      }
    }
    .email--wrap {
      text-align: center;
      & > img {
        width: 60px;
        margin-bottom: 40px;
      }
      p {
        color: #5f5f5f;
        font-family: $semi;
        margin-bottom: 0;
        span {
          color: $blue;
          font-family: $xblack;
        }
      }
      a {
        display: inline-block;
        color: #254d9f;
        font-family: $xblack;
        font-size: 1.42857em;
        letter-spacing: 1px;
        img {
          width: 15px;
          margin-left: 10px;
          margin-top: -4px;
        }
      }
    }
  }
  .section {
    padding-bottom: 20px;
  }
}
.partners--dahabord {
  background-color: $w;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  padding-top: 0;
  min-height: 1000px;
  .title {
    color: $blue;
    font-family: $xblack;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
  }
  .card {
    padding: 20px;
    margin: 20px 0;
    @include bo-shad();
    h4 {
      margin-top: 0;
      font-family: $xblack;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      li {
        width: 50%;
        border: 1px solid #f1f1f1;
        margin: 2px;
        padding: 10px;
        font-size: 16px;
        font-family: $semi;
        span {
          color: $blue;
          font-family: $xblack;
        }
      }
    }
  }
  h5 {
    color: $blue;
    font-family: $semi;
  }
  .emails {
    border: 1px solid #ddd;
    li {
      background: $w;
      padding: 8px;
      font-family: $semi;
      border-bottom: 1px solid #ddd;
    }
  }
  form {
    display: flex;
    input {
      margin-right: 10px;
    }
    .btn {
      font-family: $xblack;
      background-color: $blue;
      color: $w;
    }
  }
  .nav li {
    a {
      color: $blue;
      font-family: $semi;
    }
    &.active {
      a {
        background-color: $blue;
        color: $w;
      }
    }
  }
  .item {
    margin-top: 20px;
    h4 {
      font-family: $xblack;
    }
  }
}

.partners--wrapper {
  position: relative;
  background-color: $w;
  padding-top: 40px;
  min-height: 500px;
  .slog {
    color: #2a428c;
    font-family: $semi;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-size: em(18);
    margin-top: 60px;
  }
  .partner--section__content {
    background-color: $w;
    position: relative;
    padding: 30px 60px;
    .section--header {
      span {
        position: relative;
        top: -20px;
        font-family: $xblack;
        font-size: 18px;
        margin-left: 7px;
        text-transform: capitalize;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        width: 20%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-right: -1px;
        margin-top: -1px;
        div {
          cursor: pointer;
        }
        button{
          background: transparent;
        }
        img {
          max-width: 130px;
          max-height: 60px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          @include tran(0.2s);
          &:hover {
            -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
            filter: grayscale(0);
          }
        }
      }
    }
    &.big {
      ul {
        li {
          img {
            max-width: 150px;
            max-height: 80px;
          }
        }
      }
    }
  }
}
.First--Bellivers {
  position: relative;
  background-color: #efefef;
  padding: 60px;
  .left-side {
    position: relative;
    h3 {
      color: $blue;
      font-family: $xblack;
      font-size: em(35);
      margin-top: 0;
    }
    p {
      color: #5f5f5f;
      font-family: $semi;
    }
    &:after {
      content: "";
      width: 5px;
      height: 70px;
      background-color: $yellow;
      position: absolute;
      top: 0;
      right: -40px;
    }
  }
  ul {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 33.33%;
      margin-bottom: 30px;
      img {
        width: 150px;
      }
    }
  }
}
.corp-modal--preview .content ul {
  display: flex;
  margin-top: 40px;
  li {
    a {
      background-color: #5f5f5f;
      color: $w;
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 5px;
      line-height: 30px;
      text-align: center;
      @include tran(0.2s);
      &:hover {
        background-color: $blue;
      }
      img {
        width: 12px;
      }
    }
  }
}
@media (max-width: 768px) {
  .First--Bellivers ul {
    padding: 0;
    margin-top: 40px;
  }
  .First--Bellivers .left-side:after {
    display: none;
  }
}
@media (max-width: 480px) {
  .First--Bellivers ul li {
    width: 100%;
    text-align: center;
  }
  .section--header {
    font-size: 1.4em;
  }
}
