.TicketsWrap {
    max-width: 1100px;
    .item {
        margin-bottom: 60px;
        padding-bottom: 50px;
        border-bottom: 1px solid #f1f1f1;
        .Price-Table {
            background-color: #efefef;
            margin-top: -100px;
            border-radius: 6px;
            .price--head {
                background-color: $w;
                text-align: center;
                padding: 35px 30px;
                width: 100%;
                position: relative;
                border-radius: 6px 6px 0 0;
                @include bo-shad();
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 5px;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-bottom: 2px dashed #95989a;
                    opacity: 0.4;
                }
                h5 {
                    color: #818181;
                    font-family: $semi;
                    font-size: em(16);
                    letter-spacing: 3px;
                    margin-top: 0;
                }
                h4 {
                    color: #afafaf;
                    font-size: 3.4em;
                    font-family: $bold;
                    margin: 0 auto;
                    text-align: center;
                    line-height: 40px;
                    letter-spacing: 3px;
                    min-height: 66px;
                    max-width: 85%;
                }
            }
            .content {
                position: relative;
                padding: 55px 55px 0 55px;
                &:after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: $w;
                    position: absolute;
                    border-radius: 50%;
                    top: 5px;
                    right: -5px;
                }
                .number--left {
                    position: absolute;
                    top: -15px;
                    left: -40px;
                    background-color: #afafaf;
                    color: $w;
                    padding: 10px 15px;
                    display: inline-block;
                    border-radius: 6px;
                    font-size: em(16);
                    font-family: $bold;
                    text-transform: uppercase;
                }
                h5 {
                    color: #afafaf;
                    font-size: em(30);
                    font-family: $bold;
                    position: relative;
                    &:after {
                        position: relative;
                        content: "";
                        display: block;
                        width: 80px;
                        height: 4px;
                        background: #afafaf;
                        margin: 5px 0 0 -20px;
                    }
                }
                h4{
                    color: #777474;
                }
                ul {
                    li {
                        color: #afafaf;
                        font-family: $semi;
                        list-style: circle;
                    }
                }
            }
        }
        &.available {
            @include tran(0.3s);
            .Price-Table .price--head h4,
            .Price-Table .content h5 {
                color: $blue;
            }
            .Price-Table .content .number--left,
            .Price-Table .content h5:after {
                background: $yellow;
            }
            .purple {
                background: $blue;
            }
            .Price-Table .content ul li {
                color: #5f5f5f;
            }
        }
    }
}

.TicketsWrap.V2 {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    z-index: 20;
    justify-content: space-between;
    margin-bottom: 70px;
    // &:before {
    //     position: absolute;
    //     content: "";
    //     width: 25px;
    //     height: 25px;
    //     background: $blue;
    //     display: inline-block;
    //     left: -24px;
    //     top: 0;
    //     margin-top: 1%;
    //     transform: rotate(-45deg);
    //     z-index: 1;
    // }
    // &:after {
    //     position: absolute;
    //     content: "";
    //     width: 25px;
    //     height: 25px;
    //     background: $blue;
    //     display: inline-block;
    //     right: 51px;
    //     bottom: 0;
    //     bottom: 20%;
    //     transform: rotate(-45deg);
    //     z-index: 1;
    // }
    .item {
        &:nth-child(3) {
            margin-right: 0;
        }
        position: relative;
        margin-bottom: 0;
        margin-right: 60px;
        border: 0;
        padding: 0;
        padding-bottom: 55px;
        flex: 1 0 280px;
        -webkit-flex: 1 0 280px;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        background-color: #efefef;
        width: calc(33.3% - 75px);
        -webkit-box-shadow: 0px 4px 5px -4px rgba(59, 59, 59, 0.5);
        box-shadow: 0px 4px 5px -4px rgba(59, 59, 59, 0.5);
        z-index: 10;
        .icon {
            position: absolute;
            top: -164px;
            width: 100%;
            text-align: center;
            width: 100px;
            height: 100px;
            line-height: 100px;
            left: calc(50% - 60px);
            img {
                width: 60px;
            }
        }
    }
    .Price-Table {}
    .item .Price-Table .Price-Value h4 {
        background: none;
        background-color: $blue;
        color: $yellow;
    }
    .purple {
        position: absolute;
        bottom: 5px;
        display: inline-block;
        left: 83px;
        text-align: center;
        font-size: 16px;
        background-color: #afafaf;
        color: $w;
        text-transform: uppercase;
        padding: 12px 40px;
        font-family: $bold;
        position: absolute;
        bottom: -25px;
        font-size: em(18);
        &.disabled {
            pointer-events: none;
            cursor: not-allowed;
        }
    }
    .Price-Table {
        box-shadow: none;
    }
}

.TicketsWrap.V3 {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    z-index: 20;
    justify-content: space-between;
    margin-bottom: 70px;
    // &:before {
    //     position: absolute;
    //     content: "";
    //     width: 25px;
    //     height: 25px;
    //     background: $blue;
    //     display: inline-block;
    //     left: -24px;
    //     top: 0;
    //     margin-top: 1%;
    //     transform: rotate(-45deg);
    //     z-index: 1;
    // }
    // &:after {
    //     position: absolute;
    //     content: "";
    //     width: 25px;
    //     height: 25px;
    //     background: $blue;
    //     display: inline-block;
    //     right: 51px;
    //     bottom: 0;
    //     bottom: 20%;
    //     transform: rotate(-45deg);
    //     z-index: 1;
    // }
    .item {
        &:nth-child(3) {
            margin-right: 0;
        }
        position: relative;
        margin-bottom: 0;
        margin-right: 60px;
        border: 0;
        padding: 0;
        padding-bottom: 55px;
        flex: 1 0 280px;
        -webkit-flex: 1 0 280px;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        background-color: #efefef;
        width: calc(33.3% - 75px);
        -webkit-box-shadow: 0px 4px 5px -4px rgba(59, 59, 59, 0.5);
        box-shadow: 0px 4px 5px -4px rgba(59, 59, 59, 0.5);
        z-index: 10;
        .icon {
            position: absolute;
            top: -164px;
            width: 100%;
            text-align: center;
            width: 100px;
            height: 100px;
            line-height: 100px;
            left: calc(50% - 60px);
            img {
                width: 105px;
                height: 105px;
            }
        }
    }
    .Price-Table {}
    .item .Price-Table .Price-Value h4 {
        background: none;
        background-color: $blue;
        color: $yellow;
    }
    .purple {
        position: absolute;
        bottom: 5px;
        display: inline-block;
        left: 83px;
        text-align: center;
        font-size: 16px;
        background-color: #afafaf;
        color: $w;
        text-transform: uppercase;
        padding: 12px 40px;
        font-family: $bold;
        position: absolute;
        bottom: -25px;
        font-size: em(18);
        &.disabled {
            pointer-events: none;
            cursor: not-allowed;
        }
    }
    .Price-Table {
        box-shadow: none;
    }
}

.tickets--package {
    max-width: 1200px;
    margin: 100px auto;
    h3 {
        text-align: center;
        color: $blue;
        font-family: $bold;
        font-size: em(40);
        margin: 0;
    }
    .TicketsWrap.V2 {
        max-width: 70%;
        margin-top: 130px;
        &:before,
        &:after {
            display: none;
        }
        .Price-Table .price--head h4,
        .Price-Table .content h5 {
            color: #afafaf;
        }
        .Price-Table .content .number--left,
        .Price-Table .content h5 {
            &:after {
                background: $yellow;
            }
        }
        .purple {
            background: #afafaf;
        }
        .Price-Table .content ul li {
            color: #5f5f5f;
        }
        .Price-Table .content .number--left {
            background: #afafaf;
        }
        img {
            display: none;
        }
        .item:nth-child(n + 2) {
            .Price-Table .content h5 {
                text-align: center;
                font-size: 22px;
                &:after {
                    display: none;
                }
            }
        }
    }
    &.tickets--package.v2 {
        position: relative;
        .item {
            position: relative;
            padding-bottom: 0;
            box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.05);
            z-index: 2;
            .Price-Table .content {
                display: none;
            }
            &:nth-child(1) {
                &:before {
                    position: absolute;
                    content: "";
                    width: 25px;
                    height: 25px;
                    background: $w;
                    display: inline-block;
                    left: -24px;
                    top: -110px;
                    transform: rotate(-45deg);
                    z-index: 1;
                    border-radius: 0;
                    border: 4px solid #efefef;
                }
            }
            .Price-Table .price--head {
                background-color: #fefefe;
                position: relative;
                border-radius: 6px;
                z-index: 10;
                &:after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: #fff;
                    position: absolute;
                    border-radius: 50%;
                    top: calc(50% - 10px);
                    left: -5px;
                    box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, 0.03);
                    z-index: 0;
                    border-bottom: 0;
                    opacity: 1;
                }
                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: #fff;
                    position: absolute;
                    border-radius: 50%;
                    top: calc(50% - 10px);
                    right: -5px;
                    box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, 0.03);
                    z-index: 0;
                }
            }
            .purple {
                background-color: #afafaf;
                z-index: 10;
            }
            &:hover {
                // .Price-Table .price--head{
                //   h4{
                //     color: $blue;
                //   }
                // }
                // .purple{
                //   background-color:$blue;
                // }
            }
            &.available {
                .Price-Table .price--head h4 {
                    color: $blue;
                }
                .madfix {
                    background-color: $blue;
                }
                .innerLink {
                    background-color: $blue;
                }
            }
        }
        .Price-Table .price--head h4 {
            color: #afafaf;
        }
    }
}

.parllex-fix {
    h3 {
        text-align: center;
        color: $blue;
        font-family: $bold;
        font-size: em(40);
        margin: 0;
    }
}

.single--ticket {
    .banner--section .content {
        min-height: 500px;
        h1 {
            font-size: em(50);
            text-transform: uppercase;
        }
    }
    .form--wrap {
        position: relative;
        background: $w;
        padding: 20px 30px;
        max-width: 900px;
        margin: 0 auto;
        margin-top: -60px;
        @include bo-shad();
        margin-bottom: 50px;
        .col-md-4,
        .col-md-6,
        .col-md-12 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .form-control {
            border-radius: 0;
            height: 45px;
            border-color: #ddd;
            box-shadow: none;
        }
    }
    .Interests {
        margin-bottom: 20px;
        &:after {
            content: "";
            width: calc(100% - 20px);
            height: 1px;
            background: #ddd;
            display: block;
            margin-left: 10px;
        }
    }
    .btn {
        border-radius: 0;
        background: $blue;
        color: $w;
        font-family: $xblack;
        padding: 10px 15px;
        &.btn-blue {
            padding: 10px 30px;
        }
    }
    .price--wrap {
        b {
            color: $blue;
            font-family: $xblack;
        }
    }
    .success--submit {
        color: $blue;
        font-family: $xblack;
        img {
            width: 60px;
        }
        i {
            font-size: em(16);
            margin-right: 10px;
        }
    }
}

.checkList {
    label {
        margin-right: 15px;
        text-transform: capitalize;
        color: $blue;
    }
}

.ticket-report {
    b {
        margin-right: 20px;
        min-width: 70px;
        display: inline-block;
    }
    li {
        margin-bottom: 12px;
        text-transform: capitalize;
    }
}

.form-group.has-error {
    position: relative;
    margin-bottom: 40px;
    .error-popover {
        animation: scale 0.3s cubic-bezier(0.5, 1, 0.4, 1.275) forwards;
    }
}

.error-popover {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 7px 10px 5px;
    z-index: 1000;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07em;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    background: $erorr;
    border-radius: 2px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transform-origin: 30px 0;
    backface-visibility: hidden;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        margin: -11px 0 0;
        border: 6px solid transparent;
        border-bottom-width: 5px;
        border-bottom-color: $erorr;
    }
}

.homepage--tickets {
    position: relative;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $w;
        position: absolute;
        top: 0;
        left: 0;
    }
    .TicketsWrap.V2 {
        margin-bottom: 0;
        padding-bottom: 40px;
        margin-top: 0;
        padding-top: 150px;
    }
}

.tickets--package .TicketsWrap.V2 .Price-Table .content .number--left:after,
.tickets--package .TicketsWrap.V2 .Price-Table .content h5:after {
    background: #afafaf;
}

keyframes scale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.tickets--package.tickets--package.v2 .item {
    h4 {
        max-width: 100%;
    }
}

// Av
.TicketsWrap.V2 .item.available {
    .Price-Table .price--head h4 {
        color: $blue;
    }
    .purple {
        background-color: $blue;
    }
}

.tickets--package .TicketsWrap.V2 .item.available .Price-Table .content h5 {
    color: #5f5f5f;
}