.user--profile {
  position: relative;
  background-color: $w;
  height: 100%;
  .success--msg {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    .content {
      @include tran(0.2s);
      transform: scale(0.4);
      background: $w;
      padding: 60px 40px;
      max-width: 800px;
      margin: auto;
      span {
        display: block;
        font-size: 60px;
        color: $blue;
      }
      h4 {
        color: $blue;
        font-family: $xblack;
        line-height: 30px;
        font-family: em(30);
        text-transform: uppercase;
      }
    }
    &.active {
      visibility: visible;
      transform: scale(1);
      .content {
        transform: scale(1);
      }
    }
  }
  .invesotor--erorrs {
    max-width: 1200px;
    margin: 10px auto;
    visibility: hidden;
    @include tran(0.1s);
    transform: scale(0.5);
    ul {
      background-color: #e74c3c;
      padding: 0;
      li {
        color: $w;
        margin-bottom: 5px;
        font-family: $semi;
      }
    }
    &.active {
      visibility: visible;
      transform: scale(1);
      ul {
        padding: 15px;
      }
    }
  }
  .progress--tabs {
    margin-top: -67px;
    position: relative;
    ul.tabs {
      display: flex;
      justify-content: space-around;
      position: relative;
      z-index: 10;
      border-top: 1px solid #f1f1f1;
      li {
        color: #5f5f5f;
        font-family: $xblack;
        text-align: center;
        background-color: #f9f9f9;
        width: 100%;
        padding: 20px;
        font-size: em(13);
        text-transform: uppercase;
        letter-spacing: 1px;
        border-right: 2px solid $w;
        cursor: pointer;
        span {
          display: block;
          font-family: $xblack;
        }
        &.active {
          background-color: $w;
          color: $blue;
        }
      }
    }
    .tabs-content {
      padding: 50px;
      background-color: $w;
      margin-top: -5px;
      position: relative;
      .tab {
        display: none;
        @include tran(0.2s);
        transform: scale(0);
        &.Active {
          display: block;
          transform: scale(1);
        }
      }
      .form-wrap {
        position: relative;
        .col-md-6,
        .col-md-12,
        .col-md-3,
        .col-md-4 {
          padding-left: 5px;
          padding-right: 5px;
        }
        textarea {
          min-height: 100px;
          resize: vertical;
        }
        max-width: 1200px;
        margin: auto;
        padding: 30px 20px;
        border: 1px solid #f1f1f1;
        padding-bottom: 30px;
        min-height: 300px;
        margin-bottom: 150px;
        label {
          color: #5f5f5f;
          font-family: $semi;
          text-transform: uppercase;
        }
        h5 {
          padding-left: 5px;
          color: #5f5f5f;
          font-family: $xblack;
          text-transform: uppercase;
          margin-bottom: -10px;
        }
        .Select-control {
          border: 0;
          background-color: transparent;
          top: 5px;
          box-shadow: none;
        }
        .form-control {
          display: block;
          border: 0;
          height: 45px;
          padding-left: 15px;
          width: 100%;
          margin-bottom: 10px;
          font-family: Proxima Nova semi;
          box-shadow: none;
          &.Select {
            padding: 0;
            border: 0;
            .Select-control {
              height: 45px;
            }
          }
        }
        .arrow {
          position: absolute;
          height: 35px;
          width: 35px;
          background-color: $yellow;
          text-align: center;
          line-height: 40px;
          span {
            color: $w;
            font-size: em(21);
          }
          &.next {
            bottom: -20px;
            right: 25px;
          }
          &.prev {
            bottom: -20px;
            right: 65px;
          }
          &.disabled {
            opacity: 0.6;
            pointer-events: none;
            cursor: default;
          }
        }
        .submit--button {
          position: absolute;
          bottom: -20px;
          background-color: $blue;
          color: $w;
          font-family: $xblack;
          padding: 0 35px;
          right: 165px;
          height: 50px;
          text-transform: uppercase;
          &.done {
            right: 20px;
            background-color: $w;
            border: 1px solid $blue;
            color: $blue;
            display: inline-block;
            line-height: 48px;
          }
        }
        .section--subtitle {
          border-bottom: 1px solid #f1f1f1;
          margin: 5px;
          padding: 0;
          padding-bottom: 10px;
          margin-top: 20px;
          clear: both;
        }
      }
    }
  }
  .undisplay {
    display: none;
  }
}

.Loading--text--profile {
  position: relative;
  padding: 20px 0 100px 0;
  text-align: center;
  margin-top: -120px;
  background: $w;
  img {
    font-size: 30px;
    color: $w;
    width: 60px;
  }
}

.errors.login {
  background-color: #e74c3c;
  padding: 15px;
  // margin: -5px;
  margin-bottom: 5px;
  li {
    margin-bottom: 10px;
    color: #fff;
  }
}

.login--form {
  .btn-red {
    margin-top: 10px;
  }
}
.update-profile{
  .btn-red{
    background: $blue;
    color: $w;
    font-family: $xblack;
    padding: 10px 15px;
    border-radius: 0;
    float: right;
    margin-right: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0.5rem 0.8rem 3rem;
  }
}

.user--profile {
  .upload-form {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  .profile--banner {
    background: url("https://2016.riseupsummit.com/wp-content/uploads/2017/08/homepageBg.jpg")
      no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner--shape {
      position: absolute;
      width: 101%;
      height: 60%;
      top: 60px;
    }
    .content {
      position: relative;
      z-index: 10;
      text-align: center;
      h6 {
        color: #5f5f5f;
        font-family: $xblack;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      h5 {
        font-size: em(24);
        color: $yellow;
        font-family: $semi;
        margin-top: 0;
        margin-bottom: 20px;
      }
      p {
        color: #5f5f5f;
        font-family: $semi;
        max-width: 55%;
        margin: auto;
      }
      .social-media {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        li {
          margin-right: 15px;
          a {
            display: inline-block;
            line-height: 40px;
            border-radius: 50%;
            color: $w;
            background-color: $blue;
            width: 40px;
            height: 40px;
          }
        }
      }
      .img-wrap {
        width: 200px;
        height: 200px;
        margin: auto;
        background-color: $blue;
        padding: 6px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -30%;
          width: 200px;
          height: 200px;
          background-color: $red;
          z-index: 5;
          transform: rotate(-90deg); // border-radius: 20px;
        }
        .wrapper {
          width: 187px;
          height: 187px;
          z-index: 10;
          position: absolute;
          top: 6px;
          left: 6px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 105%;
            position: relative;
            z-index: 10;
          }
        }
      }
      h1 {
        position: relative;
        color: $yellow;
        font-family: $xblack;
        font-size: em(40);
        text-align: center;
        margin-bottom: 0;
        b {
          font-family: $xblack;
          text-transform: uppercase;
        }
        a {
          position: absolute;
          top: -10px;
          font-size: 20px;
          color: #5f5f5f;
        }
      }
      .progress--value {
        width: 100%;
        height: 15px;
        width: 100%;
        background-color: #afafaf;
        position: relative;
        .value {
          position: absolute;
          background-color: $red;
          height: 15px;
        }
      }
      .progress-info {
        color: #5f5f5f;
        font-size: em(30);
        font-family: $xblack;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        letter-spacing: 2px;
        span {
          color: $red;
          font-family: $xblack;
        }
      }
    }
  }
  .user--details {
    display: flex;
    margin-top: 100px;
    position: relative;
    &:after {
      content: "";
      width: 35px;
      height: 35px;
      display: inline-block;
      position: absolute;
      left: -10px;
      bottom: -10px;
      border: 7px solid $red;
      transform: rotate(45deg);
    }
    .left-side {
      width: 50%;
      .profile--img {
        width: 100%;
        height: 430px;
        overflow: hidden;
        img {
          width: 100%;
          background-position: top;
        }
      }
      .carrer--info {
        width: 50%;
        margin-left: 50%;
        padding: 60px 0;
        & > ul {
          li {
            color: #5f5f5f;
            margin-bottom: 40px;
            font-size: 18px;
            b {
              font-family: $xblack;
            }
            p {
              font-family: $semi;
              margin-bottom: 0;
            }
            i {
              font-family: $semi;
              font-size: 18px;
            }
          }
        }
        .tags--list {
          h4 {
            color: #5f5f5f;
            font-size: 18px;
            font-family: $semi;
          }
          ul {
            li {
              p {
                margin: 0;
                margin-bottom: 5px;
                span {
                  background-color: $blue;
                  color: $w;
                  font-family: $xblack;
                  padding: 5px 10px;
                  font-size: 14px;
                  letter-spacing: 1px;
                }
              }
            }
          }
        }
      }
    }
    .right-side {
      width: 50%;
      .contacts {
        margin-top: 60px;
        .item {
          margin-bottom: 50px;
          color: #5f5f5f;
          h6 {
            font-size: 24px;
            font-family: $semi;
            text-transform: capitalize;
            position: relative;
            &:after {
              position: absolute;
              content: "";
              width: 100%;
              height: 1px;
              background-color: #95989a;
              display: block;
              top: 13px;
              left: 48%;
            }
          }
          ul {
            margin-top: 30px;
            li {
              margin-bottom: 15px;
              font-family: $semi;
              font-size: 16px;
              span {
                width: 150px;
                display: inline-block;
                font-family: $semi;
              }
            }
          }
        }
      }
    }
    .main--info {
      padding: 0 50px;
      max-width: 80%;
      h6 {
        font-size: em(16);
        color: #5f5f5f;
        text-transform: uppercase;
        font-family: $semi;
      }
      h4 {
        color: $red;
        text-transform: uppercase;
        font-size: em(40);
        font-family: $xblack;
      }
      h5 {
        font-family: $semi;
        color: $red;
        font-family: $semi;
        font-size: em(30);
        &:after {
          content: "";
          width: 100px;
          height: 6px;
          background-color: $yellow;
          display: block;
          margin: 30px 0 30px -80px;
        }
      }
      p {
        color: #5f5f5f;
        font-size: em(20);
        font-family: $semi;
        line-height: em(22);
      }
      .social-media {
        display: flex;
        margin-top: 20px;
        & > li {
          margin-right: 40px;
          a {
            background-color: #5f5f5f;
            width: 40px;
            height: 40px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 45px;
            @include tran(0.2s);
            i {
              color: $w;
              font-size: em(20);
            }
            &:hover {
              background-color: $red;
            }
          }
        }
        .dropmenu {
          position: relative;
          img {
            width: 35px;
            margin-top: 15px;
          }
          &:hover {
            ul {
              visibility: visible;
            }
          }
          ul {
            visibility: hidden;
            background-color: #efefef;
            @include bo-shad();
            position: absolute;
            right: -20px;
            z-index: 10;
            min-width: 100px;
            top: 110%;
            &:before {
              content: "";
              position: absolute;
              top: -6px;
              right: 20px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 6px 6px 6px;
              border-color: transparent transparent #ddd transparent;
            }
            li {
              a {
                padding: 10px 15px;
                display: block;
                color: #5f5f5f;
                font-family: $semi;
                font-size: em(14);
                @include tran(0.2s);
                &:hover {
                  background-color: #afafaf;
                }
              }
            }
          }
        }
      }
      .edit {
        background-color: #afafaf;
        color: $w;
        height: 25px;
        padding: 5px 8px;
        text-transform: uppercase;
        font-family: $xblack;
        font-size: em(11);
        margin-top: 7px;
        @include tran(0.2s);
        i {
          color: #5f5f5f;
          height: 25px;
          margin-right: 6px;
        }
        &:hover {
          background-color: $red;
        }
      }
    }
  }
  .perks--wrap {
    background-color: transparent;
    position: relative;
    &:after {
      position: absolute;
      content: "C";
      font-size: 5em;
      color: #d5d5d5;
      display: block;
      font-family: "Proxima Nova black";
      text-transform: uppercase;
      bottom: 0;
      right: -80px;
      z-index: 10;
    }
    .title {
      color: $red;
      text-transform: uppercase;
      font-size: em(40);
      font-family: $xblack;
      margin-bottom: 50px;
    }
    .PerksList.ViewPage {
      overflow-x: visible;
    }
    .PerksList.ViewPage .item {
      position: relative;
      .Redeemed {
        position: absolute;
        top: -13px;
        left: 10px;
        background-color: #5f5f5f;
        color: $w;
        font-family: $xblack;
        display: inline-block;
        padding: 5px 10px;
        z-index: 10;
        font-size: 12px;
      }
    }
  }
  .DetailsWrap {
    p {
      font-family: $semi;
      font-style: italic;
    }
    h6 {
      font-size: em(18);
      b {
        font-family: $xblack;
      }
    }
  }
  .find-perks {
    border-top: 3px solid #e6e6e6;
    max-width: 1200px;
    margin: Auto;
    text-align: center;
    padding: 100px 40px;
    a {
      text-align: center;
      display: inline-block;
      font-size: 15px;
      color: #db0c18;
      font-family: "Proxima Nova black";
      text-transform: uppercase;
      background-color: transparent;
      border: 2px solid #ddd;
      padding: 10px 20px;
      border-radius: 2px;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      transition: 0.2s linear;
      margin-left: 10px;
      &:hover {
        background-color: $red;
        color: $w;
      }
      img {
        width: 15px;
        margin-left: 30px;
      }
    }
  }
  .progress--tabs {
    margin-top: -67px;
    position: relative;
    ul.tabs {
      display: flex;
      justify-content: space-around;
      position: relative;
      z-index: 10;
      border-top: 1px solid #f1f1f1;
      li {
        color: #5f5f5f;
        font-family: $xblack;
        text-align: center;
        background-color: #f1f1f1;
        width: 100%;
        padding: 20px;
        font-size: em(16);
        text-transform: uppercase;
        letter-spacing: 1px;
        border-right: 2px solid $w;
        cursor: pointer;
        &.active {
          background-color: $w;
          color: $blue;
        }
      }
    }
    .tabs-content {
      padding: 50px;
      padding-bottom: 130px;
      background-color: $w;
      margin-top: -5px;
      position: relative;
      .tab {
        display: none;
        @include tran(0.2s);
        transform: scale(0);
        &.Active {
          display: block;
          transform: scale(1);
        }
      }
      .submit--msg-wrap {
        max-width: 900px;
        margin: auto;
      }
      .form-wrap {
        position: relative;
        .col-md-6,
        .col-md-12 {
          padding-left: 5px;
          padding-right: 5px;
        }
        max-width: 900px;
        margin: auto;
        padding: 20px;
        border: 2px solid #f1f1f1;
        padding-bottom: 50px;
        label {
          color: #5f5f5f;
          font-family: $semi;
          text-transform: uppercase;
        }
        h5 {
          padding-left: 5px;
          color: #5f5f5f;
          font-family: $xblack;
          text-transform: uppercase;
          margin-bottom: -10px;
        }
        .form-control {
          display: block;
          border: 1px solid #ddd;
          height: 45px;
          padding-left: 15px;
          width: 100%;
          margin-bottom: 10px;
          font-family: Proxima Nova semi;
          box-shadow: none;
        }
        textarea {
          resize: vertical;
          min-height: 100px;
        }
        .arrow {
          position: absolute;
          height: 35px;
          width: 35px;
          background-color: $blue;
          text-align: center;
          line-height: 40px;
          span {
            color: $w;
            font-size: em(21);
          }
          &.next {
            bottom: -20px;
            right: 25px;
          }
          &.prev {
            bottom: -20px;
            right: 65px;
          }
          &.disabled {
            opacity: 0.6;
            pointer-events: none;
            cursor: default;
          }
        }
        .submit--button {
          position: absolute;
          bottom: -20px;
          background-color: $yellow;
          color: $w;
          font-family: $xblack;
          padding: 0 20px;
          left: 25px;
          height: 35px;
          text-transform: uppercase;
          border-radius: 0;
          &.done--button {
            background-color: $blue;
            display: inline-block;
            left: 110px;
            line-height: 35px;
            width: 110px;
          }
        }
      }
    }
  }
}

.Select-control {
  border: 1px solid #ddd !important;
}

.field {
  position: relative;
  .text-erorr-exist {
    margin-top: 0;
    font-family: $semi;
    font-size: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    color: #e74c3c;
    height: 20px;
  }
}

.success--session--content {
  text-align: center;
  span {
    color: #2ecc71;
    font-size: em(100);
  }
  h3 {
    color: $blue;
    font-family: $xblack;
    font-size: em(24);
  }
  h6 {
    color: $blue;
    font-family: $xblack;
    font-size: em(18);
  }
  .btn-default {
    background-color: $blue;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.92857em;
    font-family: "Proxima Nova black";
    padding: 7px 14px;
    :hover {
      background-color: $blue;
    }
  }
}

.userProfile--success--wrap {
  background-color: #2ecc71;
  position: fixed;
  right: 0;
  top: 200px;
  padding: 15px 20px;
  border-radius: 2px 0 0 2px;
  z-index: 1000;
  width: 270px;
  right: -270px;
  @include tran(0.2s);
  &.success {
    right: 0;
  }
  p {
    color: $w;
    margin: 0;
    font-family: $semi;
    i {
      color: $w;
    }
  }
}

.Select-menu-outer {
  position: relative !important;
  z-index: 999 !important;
  max-height: 120px !important;
  overflow: hidden !important;
}
