.satellite--events-list {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  .event {
    position: relative;
    width: 30%;
    @include bo-shad();
    border-radius: 0 0 5px 5px;
    margin-bottom: 50px;
    // &:nth-child(2n-1) {
    //   margin-right: 50px;
    // }
    .event--image {
      width: 100%;
      max-height: 400px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .event--details {
      position: relative;
      padding: 30px;
      h3 {
        color: $blue;
        font-family: $xblack;
        text-transform: uppercase;
        font-size: em(30);
      }
      p {
        color: #5f5f5f;
        font-size: em(14);
        font-family: $semi;
      }
      .date {
        position: absolute;
        background-color: $yellow;
        top: -45px;
        right: 8px;
        border-radius: 5px;
        font-family: $xblack;
        color: $w;
        padding: 8px;
      }
    }
    .featured {
      position: absolute;
      background-color: $blue;
      color: $w;
      left: 25px;
      font-family: $xblack;
      padding: 6px 15px;
      font-size: em(16);
      top: -15px;
    }
  }
}

.satellieEvent {
  .parllex-fix {
    padding: 0;
  }
  .category-section {
    position: relative;
    background-color: $w;
    padding: 5px;
    padding-bottom: 60px;
    h3 {
      color: $blue;
      font-family: $xblack;
      font-size: em(30);
      color: #254d9f;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: left;
      margin-top: 1%;
    }
    .content-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      ul {
        flex: 1;
        display: flex;
        max-width: 33.3%;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        position: relative;
        &:before {
          content: "";
          width: 100%;
          height: 4px;
          position: absolute;
          background-color: $blue;
          bottom: 85px;
        }
        li {
          justify-content: center;
          text-align: center;
          &:nth-child(2) {
            .item {
              .circle {
                width: 50px;
                height: 50px;
              }
            }
          }
          &.active {
            .popup {
              visibility: visible;
            }
            .item .circle {
              background-color: $blue;
            }
          }
          &:hover {
            .item .circle {
              background-color: $blue;
            }
          }
          .item {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            margin-top: 1%;
            .circle {
              z-index: 10;
              background-color: $yellow; // margin: auto;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 3px solid $blue;
              @include tran(0.2s);
            }
            h5 {
              color: $blue;
              font-family: $xblack;
              font-size: 18px;
              right: 7px;
              position: relative;
              top: 4px;
              span {
                display: block;
                font-family: $semi;
              }
            }
          }
        }
      }
      .popup {
        visibility: visible;
        flex: 1;
        max-width: 40%;
        height: 160px;
        p {
          color: #5f5f5f;
          @include bo-shad();
          padding: 15px;
          font-family: $semi;
          font-size: 15px;
          border-radius: 5px;
          background-color: $w;
          margin-top: 25px;
        }
      }
    }
    .title-wrap {
      text-align: center;
      position: relative;
      margin-top: 30px;
      margin-bottom: 60px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 100%;
        height: 1px;
        background-color: #95989a;
      }
      h3 {
        position: relative;
        z-index: 5;
        display: inline-block;
        margin-top: -40px;
        background-color: $w;
        padding: 0 20px;
      }
    }
    &.tags {
      padding-bottom: 0;
      ul {
        display: flex;
        justify-content: space-around;
        li {
          text-align: center;
          width: 33.33%;
          img {
            margin-bottom: 70px;
          }
          .tagText__container {
            display: inline-block;
            margin-left: 1%;
          }
          h4 {
            color: $blue;
            font-family: $xblack;
            text-transform: uppercase;
            font-size: em(20);
            text-align: left;
          }
          p {
            color: #5f5f5f;
            font-family: $semi;
          }
        }
      }
    }
    &.steps {
      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 2%;
      }
      .left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        h3 {
          color: white;
          flex: 0 0 55%;
          /* fg: 0, fs: 0, fb: 100% */
        }
        .link {
          margin-top: 5%;
          font-size: em(21);
          font-family: $xblack;
          text-transform: uppercase;
          display: inline-block;
          font-size: 17px;
          color: white;
          font-family: "Proxima Nova black";
          text-transform: uppercase;
          background-color: transparent;
          border: 2px solid white;
          padding: 10px 20px;
          border-radius: 2px;
          @include tran(0.2s);
          &.gray {
            color: #d6d6d6;
          }
          &:hover {
            background-color: $w;
            color: rgb(49, 81, 209);
            border-color: white;
          }
          img {
            width: 15px;
            margin-left: 15px;
            margin-top: -2px;
            height: 100%;
          }
          &.noLink {
            display: none;
          }
        }
      }
      ul {
        max-width: 55%;
        margin: auto;
        display: flex;
        justify-content: space-around; // align-items:flex-end;
        li {
          // @include bo-shad();
          padding-left: 60px;
          &:first-child {
            padding-left: 0px;
          }
          padding-top: 30px;
          width: 100%; // width: 180px;
          height: 140px;
          line-height: 130px;
          position: relative;
          border-radius: 7px;
          &:last-child {
            &:after {
              display: none;
            }
          }
          &:after {
            content: "\f054";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: white;
            font-size: 30px;
            position: absolute;
            top: 25px;
            right: -22px;
          }
          h4 {
            text-align: center;
            color: white;
            font-size: em(18);
            span {
              display: block;
              width: 35px;
              font-size: 1.35286em;
              font-family: $xblack;
              color: $yellow;
              border-radius: 50%;
              border: 3px solid yellow;
            }
            p {
              font-family: $xblack;
              margin-top: 10px;
              line-height: 20px;
              text-align: left;
            }
          }
        }
      }
      .action-wrap {
        text-align: center;
        margin-bottom: 30px;
        a {
          display: inline-block;
          text-align: center;
          margin-top: 60px;
          background-color: #fff;
          border: 2px solid #efefef;
          padding: 10px 20px;
          color: $blue;
          font-family: $xblack;
          img {
            margin-left: 10px;
          }
          @include tran(0.2s);
          &:hover {
            background-color: $blue;
            border-color: $blue;
            color: $w;
          }
        }
      }
    }
  }
}

.sessions--wrap__content {
  position: relative;
  background-color: $w;
  padding: 60px 0;
  h3 {
    color: $blue;
    font-family: $xblack;
    text-align: center;
    font-size: 2.14286em;
    margin: 0;
    margin-bottom: 40px;
  }
  .sessions--list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
    .item {
      width: calc(33.3% - 40px);
      height: 100%;
      @include bo-shad();
      margin: 0 20px;
      margin-bottom: 60px;
      .banner {
        color: $yellow;
        position: relative;
        z-index: 5;
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
        }
        .content {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 5;
          padding: 30px;
          .label--wrap {
            position: absolute;
            background-color: $blue;
            color: $w;
            font-family: $xblack;
            text-transform: uppercase;
            padding: 8px 12px;
            top: -20px;
            font-size: 14px;
            letter-spacing: 1px;
          }
          .date {
            font-family: $semi;
            margin-bottom: 5px;
          }
          h4 {
            font-family: $xblack;
            margin: 0;
            font-size: em(16);
            text-transform: uppercase;
            min-height: 35px;
          }
        }
      }
      .content--info {
        padding: 30px 30px;
        padding-bottom: 30px;
        position: relative;
        ul {
          min-height: 30px;
          li {
            display: inline-block;
            margin-bottom: 3px;
            background-color: $blue;
            color: $w;
            padding: 4px 5px;
            font-family: $semi;
            margin-right: 10px;
            font-size: em(12);
            text-transform: uppercase;
            line-height: 1.4;
          }
        }
        h6 {
          color: #5f5f5f;
          font-size: 14px;
          font-family: $semi;
          max-height: 61px;
          overflow: hidden;
        }
        a {
          color: #5f5f5f;
          font-size: 14px;
          display: block;
          margin-top: 15px;
          font-family: $xblack;
          cursor: pointer;

        }
        .deadline {
          border-top: 1px solid #ddd;
          color: #afafaf;
          font-style: italic;
          font-size: em(13);
          line-height: em(18);
          margin-top: 40px;
          padding-top: 15px;
          font-family: $semi;
        }
        .btn-default {
          position: absolute;
          background-color: $blue;
          text-transform: uppercase;
          border-radius: 0;
          color: $w;
          border: 0;
          font-size: em(16);
          font-family: $xblack;
          bottom: -20px;
          padding: 10px 20px;
          left: 10%;
          display: block;
          width: 80%;
        }
      }
      &:nth-child(odd) {
        .banner {
          background-color: $blue;
          color: $yellow;
          &:before {
            background: url("https://2016.riseupsummit.com/wp-content/uploads/2017/11/blue.png");
          }
        }
      }
      &:nth-child(even) {
        .banner {
          background-color: $yellow;
          color: $blue;
          &:before {
            background: url("https://2016.riseupsummit.com/wp-content/uploads/2017/11/yellow.png");
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 85%;
  }
}
