.speakers--info-section {
  position: relative;
  background-color: $w;
  text-align: center;
  .info-item {
    text-align: center;
    position: relative;
    padding: 40px 0;
    h2 {
      font-size: em(40);
      font-family: $xblack;
      color: $blue;
      line-height: 50px;
      margin: 0 auto;
      max-width: 60%;
    }
    span {
      display: block;
      font-size: em(20);
      color: #5f5f5f;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    img {
      display: inline-block;
      width: em(50);
      margin: 40 auto;
      cursor: pointer;
    }
    .left--side {
      left: 40px;
      top: 0px;
      position: absolute;
      width: 20px;
      p {
        width: 20px;
        span {
          font-size: em(20);
          color: #f5ff00;
        }
      }
    }
    .right--side {
      right: 40px;
      top: 20px;
      position: absolute;
      width: 20px;
      p {
        width: 20px;
        color: #f5ff00;
        span {
          font-size: em(20);
          color: #f5ff00;
        }
      }
    }
  }
}

.speakers--list {
  padding: 70px 0;
  background-color: $w;
  position: relative;
  .speakers--head {
    font-size: em(50);
    letter-spacing: 10px;
    color: $blue;
    font-family: $xblack;
    text-align: center;
    margin: 0;
  }
  .speakers--list-current {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap; // justify-content: space-between;
    .speaker--item {
      cursor: pointer;
      position: relative;
      .speaker--avatar {
        background-size: cover !important;
        height: 100%;
      }
      position: relative;
      width: 19.5%;
      margin-right: 0.5%;
      margin-bottom: 0.5%;
      height: 285px;
      align-items: center;
      justify-content: flex-end;
      .speaker--info {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        padding: 30px;
        background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0.2),
          rgba(0, 0, 0, 0.2)
        );
        background: -o-linear-gradient(
          rgba(255, 255, 255, 0.2),
          rgba(0, 0, 0, 0.2)
        );
        background: -moz-linear-gradient(
          rgba(255, 255, 255, 0.2),
          rgba(0, 0, 0, 0.2)
        );
        background: linear-gradient(
          rgba(255, 255, 255, 0.2),
          rgba(0, 0, 0, 0.2)
        );
        .content {
          position: absolute;
          bottom: 10px;
          padding-right: 10px;
          h3 {
            font-size: em(21);
            font-family: $xblack;
            color: $yellow;
            cursor: pointer;
            text-transform: uppercase;
          }
          h5 {
            font-size: em(14);
            font-family: $semi;
            color: white;
            min-height: 50px;
            margin-bottom: 0;
            text-transform: uppercase;
          }
        }
      }
      .speaker--link {
        position: absolute;
        display: inline-block;
        top: 30px;
        right: 40px;
        transform: rotate(-45deg);
        @include tran(0.2s);
        span {
          display: inline-block;
          width: 30px;
          height: 30px;
          border: 4px solid $blue;
          &:hover {
            background-color: $blue;
          }
        }
      }
      &.apply {
        .content {
          text-align: center;
          width: 100%;
          a {
            text-align: center;
            display: block;
            width: 100%;
            margin-top: 60%;
            color: $blue;
            .plus {
              width: 50px;
              display: block;
              margin: 0 auto;
            }
            p {
              flex-direction: row;
              font-family: $bold;
              margin-top: 40px;
              font-size: em(20);
              img {
                width: 15px;
                margin-left: 10px;
                position: relative;
                bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
  &.last {
    padding-top: 0;
    .speaker--item.apply {
      display: none;
    }
    .speakers--head {
      margin-bottom: 50px;
    }
    .speaker--item .speaker--link {
      display: none;
    }
  }
  .more--wrap {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    display: block;
    .see-button {
      margin: auto;
      color: #5f5f5f;
      font-size: em(20);
      img {
        width: 15px;
        margin-top: -4px;
        margin-left: 20px;
      }
    }
  }
}

.speakers--search {
  .input--wrap {
    position: relative;
    margin: 20px 0 50px 0;
    width: 30%;
    margin-left: 35%;
    .input {
      width: 100%;
      height: 45px;
      border-radius: 30px;
      border: 1px solid #b2b2b2;
      margin: auto;
      padding-left: 55px;
      font-size: em(16);
      font-family: $semi;
    }
    img {
      width: 20px;
      position: absolute;
      left: 15px;
      top: 12px;
    }
  }
}

.Speaker--dashboard {
  .banner--section .content {
    min-height: 450px;
    h1 {
      font-size: em(40);
      text-transform: uppercase;
    }
  }
  .form--wrap {
    position: relative;
    background-color: $w;
    padding: 30px;
    @include bo-shad();
    max-width: 1000px;
    margin: -40px auto 80px auto;
  }
  .login--form {
    text-align: center;
    form {
      display: flex;
      max-width: 300px;
      margin: 20px auto;
      .form-control {
        border-radius: 0;
        margin-right: -1px;
        box-shadow: none;
        height: 40px;
        border-color: $blue;
      }
      .btn-blue {
        background-color: $blue;
        color: $w;
        border-radius: 0;
        height: 40px;
        padding: 10px 20px;
      }
    }
  }
  .speaker--form {
    .col-md-6,
    .col-md-4,
    .col-md-12 {
      padding-left: 5px;
      padding-right: 5px;
    }
    .form-control {
      border-radius: 0;
      height: 45px;
      border-color: #ddd;
      box-shadow: none;
      color: $blue;
    }
    textarea {
      resize: vertical;
      min-height: 120px;
    }
    .session--details--wrap {
      h4 {
        border-top: 1px solid #f1f1f1;
        padding-left: 5px;
        color: $blue;
        font-family: $semi;
        margin-top: 30px;
      }
    }
  }
}

.single--speaker {
  .banner--section .content {
    min-height: 500px;
    h1 {
      font-size: em(50);
    }
  }
}

/* Speaker Modal*/

.ReactModal__Overlay {
  z-index: 100;
  background-color: rgba(0, 0, 0.64, 0.67) !important;
  padding: 0 !important;
  top: 70px !important;
  .ReactModal__Content {
    padding: 0 !important;
    // background: none !important;
    border: 0 !important;
  }
  .speaker-modal--preview {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    .speaker--img {
      img {
        max-height: 450px;
      }
    }
    .speaker--details {
      position: relative;
      background: $w;
      overflow-y: auto;
      height: 450px;
      .close {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        background: $blue;
        transform: rotate(-45deg);
        opacity: 1;
      }
      .content {
        padding: 50px 40px;
        h3 {
          color: $blue;
          text-transform: uppercase;
          font-family: $bold;
          font-size: em(30);
          margin-top: 0;
        }
        h5 {
          font-family: $semi;
          color: $blue;
          text-transform: uppercase;
          font-size: em(18);
          &:after {
            content: "";
            width: 60px;
            height: 3px;
            background-color: #95989a;
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: -15px;
          }
        }
        p {
          color: $blue;
          font-size: em(14);
          font-family: $semi;
          min-height: 94px;
          line-height: 20px;
          max-height: 250px; // overflow-y: scroll;
        }
      }
      .session--wrap {
        position: absolute;
        width: 100%;
        bottom: -169px;
        background: $blue;
        padding: 40px;
        h4 {
          color: $w;
          font-family: $bold;
          font-size: em(20);
          text-transform: uppercase;
          margin-bottom: 20px;
          margin-top: 0;
        }
        ul {
          display: flex;
          li {
            background: $yellow;
            color: $blue;
            font-size: em(14);
            padding: 15px 30px;
            margin-right: 10px;
          }
        }
      }
    }
    .Loading {
      h5 {
        padding: 30px;
        color: $blue;
        font-family: $semi;
        font-size: em(20);
      }
    }
  }
}

.SpeakersModal {
  max-width: 1000px;
  margin: auto;
}

.speakers--head.speakers--head2 {
  position: relative;
  z-index: 10;
  background: $w;
  margin: 0;
  text-align: center;
  font-size: 2.8em;
  color: #254d9f;
  font-family: "Proxima Nova black";
}

.apply-to-speak {
  .banner--section {
    position: relative !important;
    height: 500px !important;
    .content {
      height: 300px !important;
      .left--side,
      .right--side {
        display: none;
      }
    }
  }
  .form--wrap {
    background-color: $w;
    max-width: 1200px;
    position: relative;
    margin: auto;
    z-index: 30;
    margin-top: -80px;
    border: 1px solid #f1f1f1;
  }
}
