.feature--post .right--side h3 span.team-featured-title {
    font-family: $xblack;
    box-sizing: border-box;
    color: black;
    font-size: 40px;
    width: 70%;
}

.feature--post .right--side p.team-details {
    width: 90%;
    font-family: $semi;
}

.feature--post .right--side p.team-special {
    font-family: $xblack;
    font-size: 2rem;
    color: #5f5f5f;
}

.team-list-viewer {
    width: 70vw;
    margin: 0 auto 0 auto;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.team-list {
    height: inherit;
    margin: 0;
    padding: 0;
    width: 140vw;
    display: block;
    z-index: 1000;
    position: relative;
}

.team-member {
    float: left;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    width: 17.5vw;
    position: relative;
    color: #afafaf;
    overflow: hidden;
}

.team-member-name {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    letter-spacing: 0px;
    line-height: 12px;
    position: relative;
}

.team-member-name span {
    margin: 0px;
    font-family: $xblack;
    padding: 0;
    font-size: 1.4rem;
    letter-spacing: 0px;
}

.team-member-job {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-family: $semi;
    font-size: 1.2rem;
    line-height: 10px;
    position: relative;
}

.selected-member {
    color: #fce100;
}

.team-about-tab {
    position: absolute;
    bottom: -3.1%;
    left: 0px;
    right: 0px;
    display: flex;
    height: 99px;
    box-sizing: border-box;
}

.team-about-tab-active {
    background: #362145;
}

.team-about-link {
    width: 50%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    font-family: $xblack;
    color: #fce100;
    line-height: 99px;
    letter-spacing: 0rem;
    border-radius: 2px;
}

.about-tab {
    bottom: 40px;
}

.team {
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.teamshow {
    position: relative;
    padding: 0;
    background: white;
    padding-top: 100px;
    overflow: hidden;
}

.team-title {
    position: relative;
    text-align: center;
    font-family: $xblack;
    font-size: 40px;
    z-index: 100;
    padding-top: 50px;
    margin-bottom: 70vh;
}

.team-slider {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    z-index: 10;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.team-slider ul {
    width: 100000vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    display: flex;
    align-items: flex-end;
}

.team-slider-li {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 33.6vw;
    height: 85vh;
    position: relative;
    bottom: 0px;
    z-index: 100;
    margin-right: 17.665vw;
    left: -15.665vw;
    text-align: center;
}

.team-member-image {
    background: white;
    display: block;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.gem {
    position: absolute;
    bottom: -20px;
    left: 24vw;
    z-index: 10;
}

.gem-filled {
    position: absolute;
    bottom: 142vh;
    right: -10px;
    z-index: 10;
    width: 45px;
    height: 45px;
}

.pointer {
    cursor: pointer;
}

.arrow-wrapper {
    width: 70%;
    margin: auto;
}

.arrowIndicator {
    opacity: .2;
}

.team-loader {
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 200px;
}

.nav--wrap li div {
    color: #fce100;
}

@media (min-width: 1650px) {
    .team-title-lg {
        margin-bottom: 80vh;
    }
}
   
@media (max-width: 1024px) {
    .team-member-name-xmd {
        font-size: 1.4rem;
    }
    .team-member-job-xmd {
        font-size: 1.4rem;
    }
    .feature--post .right--side h3 span {
        box-sizing: border-box;
        font-size: 40px;
        color: #362145;
        width: 100%;
        text-align: center;
    }
    .team-title-xmd {
        font-size: 3.6rem;
        padding-top: 50px;
        margin-bottom: 10vh;
        margin-bottom: 0;
        letter-spacing: 0rem;
    }
    .team-slider-li-xmd {
        width: 33vw;
        height: 50vh;
    }
    .gem-filled-xmd {
        display: none;
    }
    .team-member-xmd {
        width: 23.333vw;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }
    .team-about-tab-xmd {
        bottom: -2%;
    }
    .team-list-xmd {
        margin-bottom: 250px;
    }
    .team-list-viewer-xmd {
        width: 70%;
        margin-bottom: 32vh;
    }
}

@media (max-width: 768px) {
    .team-title-md {
        font-size: 3.6rem;
        padding-top: 40px;
        padding-bottom: 0px;
        letter-spacing: 0rem;
        margin-bottom: 10vh;
    }
    .team-member-md {
        //   width: 35vw;
        // left: calc(10.2vw);
        width: 23.333vw;
        position: relative;
        padding-bottom: 0px;
        font-size: 1.2rem;
        font-family: $reg;
    }
    .team-member-md span {
        font-size: 1.2rem;
    }
    .feature--post .right--side h3 span.team-featured-title-md {
        width: 100%;
    }
    .feature--post .right--side p.team-details-md {
        width: 100%;
    }
    .team-list-viewer-md {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .team-title-sm {
        font-size: 3rem;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 5vh;
    }
    .team-list-sm {
        // width: 280vw 
        width: 560vw;
    }
    .team-member-sm {
        width: 70vw;
        left: calc(17.5vw);
        padding: 0px;
        margin: 0px;
        font-size: 0.5rem;
        letter-spacing: -0.1rem;
        margin-bottom: 20px;
    }
    .team-member-image-sm {
        height: 33.33vh;
        position: absolute;
        bottom: 0px;
    }
    .team-featured-title-sm {
        font-size: "40px";
    }
    .feature--post .right--side h3 span.team-featured-title-sm {
        font-size: 30px;
        width: 90%;
    }
    .feature--post .right--side p.team-special {
        font-weight: bold;
        font-size: 20px;
        color: #5f5f5f;
        line-height: 25px;
    }
    .team-about-tab-sm {
        bottom: -3.1%;
    }
    .team-list-viewer-sm {
        width: 70vw;
        margin-bottom: 20vh;
    }
    .team-member-name-sm span {
        font-size: 1rem;
    }
    .arrowIndicator-sm {
        opacity: 1;
    }
    .arrow-sm-fade {
        opacity: 0.3;
        cursor: none;
    }
    .arrow-pointer-sm {
        cursor: pointer;
    }
}