.tracks-wrap__v2 {
  background-color: $w;
  position: relative;
  padding: 100px 50px;
  .tracks-list {
    display: flex;
    flex-wrap: wrap;
    .item {
      background-color: #efefef;
      width: calc(33.33% - 40px);
      margin: 0 20px;
      padding: 30px;
      position: relative;
      img {
        height: 30px;
        position: absolute;
        top: -20px;
      }
      .header {
        height: 30px;
        position: absolute;
        top: -20px;
        font-size: em(40);
        color: $blue;
      }
      .content {
        padding-bottom: 50px;
        .slog {
          color: #5f5f5f;
          text-transform: uppercase;
          font-family: $semi;
          &:before {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: $yellow;
            margin-bottom: 20px;
            margin-top: 10px;
          }
        }
        h4 {
          color: $blue;
          font-family: $xblack;
          text-transform: uppercase;
          font-size: em(22);
          margin-bottom: 20px;
        }
        ul {
          li {
            margin-top: 20px;
            h5 {
              color: $blue;
              margin-bottom: 5px;
              font-family: $xblack;
              font-size: em(15);
            }
            p {
              font-family: $semi;
              color: #5f5f5f;
            }
          }
        }
        h6 {
          position: absolute;
          bottom: 30px;
          color: #5f5f5f;
          font-family: $xblack;
          font-size: em(16);
          margin-top: 25px;
        }
      }
    }
  }
}
