*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: $w;
  overflow-x: hidden;
}

#main-fold {
  min-height: 100vh;
}

a {
  &:hover {
    cursor: pointer;
  }
}

button {
  box-shadow: none;
  border: 0;
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-family: $bold;
}

.form-control:focus {
  border-color: $BrandPurple;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

//- Banner Component
.banner--section {
  &.v2 {
    .shape-wrap {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      img {
        width: 100%;
        display: block;
      }
    }
    &.yellow {
      .shape-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        img {
          width: 60%;
          display: block;
          position: absolute;
          bottom: 0;
        }
      }
      .content {
        h1 {
          color: $blue;
        }
        p.slog {
          color: $blue;
        }
        .right--side p span,
        .left--side p span {
          color: $blue;
        }
      }
    }
  }
  position: fixed !important;
  width: 100%;
  background-image: url("../../assets/images/homepageBg-l.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .content {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 600px;
    h1 {
      position: relative;
      color: $yellow;
      font-size: em(50);
      font-family: $bold;
      & > span {
        display: block;
        font-family: $semi; //edit by  maado 7/9/2017
        font-size: 40px; //width: 230px;
        margin: auto;
        margin-top: 15px;
      }
      .abs-image {
        position: absolute;
        top: -100px;
        left: 150px;
      }
    }
    p.slog {
      color: #f5ff00;
      font-family: $xblack;
      font-size: em(18);
      letter-spacing: 1px;
    }
    .left--side {
      left: 40px;
      top: 70px;
      position: absolute;
      width: 20px;
      z-index: 20;
      p {
        width: 20px;
        span {
          font-family: $semi;
          display: block;
          font-size: em(12);
          color: #f5ff00;
          margin-top: 80%;
          text-transform: uppercase;
        }
      }
    }
    .right--side {
      right: 40px;
      top: 70px;
      position: absolute;
      width: 20px;
      z-index: 20;
      p {
        width: 20px;
        span {
          font-family: $semi;
          display: block;
          font-size: em(12);
          color: #f5ff00;
          margin-top: 80%;
          text-transform: uppercase;
        }
      }
    }
  }
}

// Feature Post
.feature--post {
  display: none;
  display: flex;
  width: 100%;
  overflow: hidden;
  .left--side {
    width: 50%; // height: 100%;
    background: $w; // img{
    //   display: none;
    // }
    &.noParllex {
      display: none;
    }
    .Tracks--navbar {
      position: absolute;
      width: 50%;
      min-height: 200px;
      z-index: 100;
      li {
        position: absolute;
        a {
          display: block;
          border: 10px solid $yellow;
          width: 220px;
          height: 220px;
          transform: rotate(-45deg);
          @include tran(0.2s);
          &:hover {
            background-color: $yellow;
            span {
              color: $blue;
            }
          }
          span {
            display: block;
            text-align: center;
            transform: rotate(45deg);
            line-height: 220px;
            color: $yellow;
            font-family: $xblack;
            font-size: 30px;
            position: relative;
            i {
              position: absolute;
              left: 30%;
              top: 15%;
              font-size: em(10);
              font-style: normal;
            }
          }
          &.active {
            background: $yellow;
            width: 220px;
            height: 220px;
            span {
              line-height: 220px;
              color: $blue;
            }
          }
        }
        &:nth-child(1) {
          top: 64px;
          right: 30px;
          @include tran(0.4s);
        }
        &:nth-child(2) {
          top: 60px;
          left: 30px;
          @include tran(0.4s);
        }
        &:nth-child(3) {
          top: 230px;
          left: 200px;
          @include tran(0.4s);
        }
        &.active {
          a {
            background: $yellow;
            width: 220px;
            height: 220px;
            span {
              line-height: 220px;
              color: $blue;
            }
          }
        }
      }
    }
  }
  .right--side {
    background-color: $w;
    width: 50%;
    padding: 60px 60px 60px 60px; // border-top:1px solid #f1f1f1;
    position: relative;
    z-index: 10;
    &.noParllex {
      padding-left: 0;
      z-index: 1000;
      background-color: transparent;
      h3 {
        &:after {
          display: none;
        }
      }
    }
    h3 {
      color: $blue;
      font-family: $xblack;
      font-size: em(35);
      margin: 0;
      margin-bottom: 20px;
      &.red {
        color: #8c3d2a;
      }
      &:after {
        position: relative;
        content: "";
        width: 100px;
        height: 6px;
        background-color: $yellow;
        display: block;
        border-radius: 3px;
        margin-top: 20px;
      }
      span {
        color: #5f5f5f;
        font-size: 20px;
        display: block;
        letter-spacing: 1px;
        margin-bottom: 15px;
      }
      i {
        display: block;
        font-style: normal;
        font-size: 24px;
        color: #5f5f5f;
        font-family: $semi;
      }
    }
    p {
      color: #5f5f5f;
      font-size: 19px;
      font-family: $semi;
      line-height: 26px;
      margin-bottom: 20px;
    }
    .link {
      font-size: em(21);
      color: $blue;
      font-family: $xblack;
      text-transform: uppercase;
      display: inline-block;
      font-size: 17px;
      color: $blue;
      font-family: "Proxima Nova black";
      text-transform: uppercase;
      background-color: transparent;
      border: 2px solid rgb(44, 64, 140);
      padding: 10px 20px;
      border-radius: 2px;
      @include tran(0.2s);
      &.gray {
        color: #d6d6d6;
      }
      &:hover {
        background-color: rgb(44, 64, 140);
        color: $w;
        border-color: rgb(44, 64, 140);
      }
      img {
        width: 15px;
        margin-left: 15px;
        margin-top: -2px;
        height: 100%;
      }
      &.noLink {
        display: none;
      }
    }
    .hashtag {
      font-family: $xblack;
    }
    .email-text {
      color: $blue;
      font-family: $xblack;
      font-size: em(26);
    }
    .open--text {
      color: #5f5f5f;
      font-size: em(16);
      font-family: $semi;
      margin-top: 30px;
    }
    .open--text--largeBlue {
      color: $blue;
      font-size: 1.4em;
      font-weight: bold;
      margin: 30px 0;
    }
    .ul--list {
      h5 {
        color: $blue;
        text-transform: uppercase;
        font-family: $xblack;
        font-size: em(21);
      }
      ul {
        margin-bottom: 25px;
        li {
          color: #5f5f5f;
          font-size: em(17);
          font-family: $semi;
          &:before {
            content: "*";
            display: inline-block;
            margin-right: 3px;
            font-size: em(17);
          }
        }
      }
    }
  }
  .videoContainer {
    width: 50%;
  }
  .more--details {
    i {
      font-size: em(20);
      color: #afafaf;
      display: block;
    }
    b {
      display: block;
      font-size: em(20);
      font-family: $xblack;
      color: $blue;
    }
  }
  .slog {
    color: #5f5f5f;
    font-size: em(16);
    font-family: $semi;
    letter-spacing: 1px;
  }
  .products_wrap {
    .product {
      margin-bottom: 20px;
      &.nested {
        h4 {
          font-size: 16px;
        }
      }
      h4 {
        position: relative;
        color: $blue;
        font-size: em(24);
        font-family: $xblack;
        text-transform: uppercase;
        &:before {
          position: absolute;
          left: -20px;
          top: 3px;
          content: "";
          display: inline-block;
          background: url("../../assets/arrow-right.svg");
          width: 13px;
          height: 13px;
        }
      }
      p {
        font-size: 16px;
        line-height: 26px;
        b {
          font-family: $xblack;
        }
      }
      &.noListArrow {
        h4 {
          &:before {
            display: none;
          }
        }
      }
      ul {
        padding-left: 20px;
        list-style: square;
        margin-top: 15px;
        li {
          font-size: em(14);
          font-family: $semi;
          color: #5f5f5f;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.section--header {
  text-align: center;
  font-family: $xblack;
  font-size: 2.8em;
  text-transform: uppercase;
  color: $blue;
  &.section {
    margin-top: 70px;
  }
}

.DownTownMap {
  position: relative !important;
  .map--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    &.hidden {
      display: none;
    }
  }
}

.downtown--section {
  text-align: center;
  padding-top: 90px;
  background-color: $w;
  padding-bottom: 60px;
  position: relative;
  h3 {
    color: $blue;
    font-family: $xblack;
    font-size: em(30);
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  p {
    color: #5f5f5f;
    font-family: $semi;
    font-size: em(16);
    max-width: 60%;
    margin: auto;
    p {
      margin-top: 15px;
      color: #2a428c;
      font-family: $reg;
      span {
        color: $blue;
        font-family: $xblack;
      }
    }
  }
  ul {
    display: flex;
    margin-top: 30px;
    li {
      width: 25%;
      .img-wrap {
        height: 180px;
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      h5 {
        color: $blue;
        font-family: $xblack;
        text-align: left;
        margin-left: 20px;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
  .elves-btn {
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    background-color: #fff;
    border: 2px solid #efefef;
    padding: 10px 20px;
    color: #254d9f;
    font-family: "Proxima Nova black";
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    transition: 0.2s linear;
    img {
      margin-left: 10px;
    }
    &:hover {
      border-color: $blue;
      color: $w;
      background-color: $blue;
    }
  }
  h6.rights {
    color: #5f5f5f;
    font-family: $semi;
    img {
      width: 40px;
      margin-top: -3px;
      margin-left: 5px;
    }
  }
}

.discover--section {
  background: url(https://riseupsummit.com/wp-content/uploads/2017/08/discover.jpg)
    50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 20;
  text-align: center;
  .overlay {
    padding: 20% 2%;
    background-color: rgba(0, 58, 190, 0.22);
    h3 {
      color: #fce100;
      font-size: 5em;
      font-family: $xblack;
      max-width: 30%;
      margin: auto;
    }
  }
}

.badge {
  background-color: $yellow;
  width: 200px;
  height: 200px;
  border-radius: 0;
  text-align: center;
  position: absolute;
  left: 0;
  top: 100px;
  transform: rotate(-50deg);
  h2 {
    color: #5f5f5f;
    font-size: 16px;
    font-family: $semi;
    margin-top: 80px;
    transform: rotate(37deg);
    span {
      display: block;
      font-family: $xblack;
    }
  }
}

.nav--wrap {
  position: relative;
  z-index: 10;
  display: flex;
  margin-top: -64px;
  li {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    div {
      cursor: pointer;
      display: block;
      background: $blue;
      color: $w;
      padding: 15px;
      font-size: em(24);
      font-family: $xblack;
      height: 100%;
      &.active {
        background: $yellow;
        color: $blue;
      }
    }
  }
  &.yellow-v {
    li {
      div {
        color: $yellow;
        &.active {
          background: $yellow;
          color: $blue;
        }
      }
    }
  }
  &.Activities {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 24.4%;;
      margin: 1px;

      margin-left: 5px;
      
      div {
        font-size: em(20);
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// - Mobile Navigation
.main--menu {
  .mobile--navigation--trigger {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1000;
    visibility: hidden;
    i {
      color: $w;
      font-size: 1.3em;
    }
  }
  .mobile--navigation {
    overflow: scroll;
    visibility: hidden;
    background: #000;
    left: 100%;
    top: 37px;
    width: 0;
    display: none;
    height: 0;
    padding-top: 80px;
    padding-left: 40px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    &.visible {
      visibility: visible;
      left: 0;
      width: 100%;
    }
    .items {
      h5 {
        color: $w;
        font-family: $xblack;
        text-transform: uppercase;
        font-size: 1.3em;
        margin-bottom: 5;
      }
      a {
        display: block;
        color: $yellow;
        font-size: em(16);
        margin-bottom: 7px;
        text-transform: uppercase;
      }
    }
    .multi--level {
      display: flex;
      margin-bottom: 20px;
      .item {
        width: 50%;
      }
    }
  }
  &.fixed--menu {
    .mobile--navigation {
      padding-top: 40px;
      padding-left: 40px;
    }
  }
}

.get--ticket--action {
  background-color: $yellow;
  color: $blue;
  padding: 15px 40px;
  border-radius: 0;
  margin-bottom: 30px;
  font-family: $xblack;
}

// - Fix Parallex Effect CSS
.about--wrap {
  .feature--post {
    .left--side.tabs {
      background-color: $w;
      z-index: 10;
    }
    .right--side {
      background-color: $w;
      z-index: 9; // padding-left: 30px;
    }
  }
}

.HomeHx {
  background-color: $w;
  position: relative;
  z-index: 9;
  img {
    display: block !important;
    width: 100%;
    height: 100%;
    max-height: 600px;
    margin: 0 auto;
  }
}

.ReactModal__Overlay .speaker-modal--preview {
  margin-top: 125px !important;
}

.tktd-widget-parent #tktdWidget {
  z-index: 10000;
}

.button.purple.widget_id img {
  width: 40px;
}

.section--header-wrap {
  position: relative;
  background-color: $w;
  padding: 60px 0 40px 0;
  text-align: center;
  h3 {
    color: $blue;
    font-family: $xblack;
    text-transform: uppercase;
    font-size: 2.45714em;
    letter-spacing: 1px;
    span {
      text-transform: lowercase;
      font-family: $xblack;
    }
  }
  p {
    color: #5f5f5f;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: em(14);
    font-family: $semi;
  }
}

.filter--startups--tags {
  .Select-menu-outer {
    position: absolute !important;
    z-index: 999 !important;
  }
}

.partners--wrapper .speakers--search .input--wrap {
  margin-bottom: 20px;
}

.startups--wrap-v2 {
  .speakers--search .input--wrap .input {
    border-radius: 2px;
    border-color: #ccc;
  }
}

// remove 2017 data
.my-experience.sessions--list .item .content--info .btn-default,
.my-experience.sessions--list .item .content--info .left-seats li {
  display: block !important;
}

.timeline-wrap {
  position: relative;
  z-index: 100;
  background: rgb(248, 248, 248);
  padding-top: 100px;
  .time-line-list {
    background-color: $w;
    text-align: center;
    .content {
      padding: 30px 0;
      max-width: 80%;
      margin: auto;
      h1 {
        color: $blue;
        font-family: $xblack;
        text-transform: uppercase;
        margin-bottom: 5px;
        letter-spacing: 5px;
        i {
          font-size: 18px;
          display: block;
          color: $blue;
          margin-bottom: 10px;
        }
      }
      h2 {
        font-family: $semi;
        font-size: 18px;
        color: #5f5f5f;
        margin-top: 5px;
        max-width: 50%;
        margin: auto;
        letter-spacing: 1px;
        line-height: 25px;
      }
      ul {
        animation: tran 0.4s ease-in-out;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        li {
          background-color: $yellow;
          text-align: left;
          &:nth-child(odd) {
            background-color: $blue;
            color: $w;
            span {
              color: $yellow;
            }
          }
          position: relative;
          padding: 25px;
          width: 33.333%;
          position: relative;
          font-size: 15px;
          font-family: $semi;
          margin-right: -1px;
          span {
            display: inline-block;
            color: $blue;
            font-family: $xblack;
            margin: 5px;
            font-size: 40px;
            position: absolute;
            bottom: 10px;
            right: 10px;
            opacity: 0;
          }
          a {
            margin-left: 10px;
            font-family: $xblack;
          }
        }
      }
    }
  }
  h4 {
    position: absolute;
    top: -30px;
    left: 10%;
    padding: 30px 30px;
    font-family: $xblack;
    text-transform: uppercase;
    color: $blue;
    display: inline-block;
    background-color: #f8f8f8;
    border: 2px dashed #ddd;
    border-top: 0;
    letter-spacing: 2px;
  }
}

.timeline-banner {
  p {
    color: $yellow;
    font-family: $semi;
    max-width: 50%;
    margin: 0 auto;
  }
  a {
    text-transform: uppercase;
    margin-top: 30px;
  }
}

.buttons {
  li {
    position: relative;
    background: $blue;
    border-color: $blue !important;
  }
}

.present.dot-label {
  color: $blue;
  font-family: $xblack;
  text-transform: uppercase;
}

@keyframes tran {
  0% {
    margin-top: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.QuotesCard_Container {
  height: 300px;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 4%;
  width: 100%;
  text-align: left;
  letter-spacing: 0.15rem;
  h2 {
    font-size: 35px;
    color: white;
    max-width: 100%;
  }
  h4 {
    padding-top: 1%;
    font-size: 20px;
    color: yellow;
  }
}

.inline-block{
  display: inline-block
}
