/*Fonts*/
@font-face {
    font-family: $reg;
    src: url('../../assets/fonts/proxima-regular_2-webfont.ttf');
}
@font-face {
    font-family: $bold;
    src: url('../../assets/fonts/proxima-black_2-webfont.ttf');
}
@font-face {
    font-family: $semi;
    src: url('../../assets/fonts/Proxima-Semibold.ttf');
}

@font-face {
    font-family: $xblack;
    src: url('../../assets/fonts/black.ttf');
}
