body,*{
	font-weight: 300;
	font-size: 15px;
	font-family: $reg;
	-webkit-font-smoothing: antialiased;
}
input:focus,a:focus,.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline:0;
	box-shadow:0;
}
::-moz-selection { background: $yellow; color:$blue; }
::selection { background: $yellow; color:$blue;}
a{
	text-decoration:none;
	outline:0;
	&:hover{
		text-decoration: none;
	}
	&:focus{
		outline: 0;
		text-decoration: none;
	}
}
p{
	font-size: 16px;
	line-height: 24px;
}
