// 1200px
@media (max-width: 1200px) {
  .agenda--wrap {
    zoom: 0.5;
    -moz-transform: scale(0.7);
  }
  .footer--component .subscribe--wrap {
  }
  // - Main Banner
  .banner--section .content h1 {
    font-size: em(30);
  }
  .TicketsWrap.V2 {
    max-width: 1100px;
  }
  .TicketsWrap.V3 {
    max-width: 1100px;
  }
  .TicketsWrap .item .Price-Table .price--head h4 {
    font-size: em(30);
  }
  .speakers--info-section .info-item h2 {
    font-size: em(30);
    max-width: 80%;
    line-height: 50px;
  }
  .footer--component {
    padding: 40px 40px 0 40px;
  }
  .footer--component .content--wrap .menu--wrap ul li,
  .footer--component .content--wrap .subscribe--wrap h3 {
    font-size: em(12);
  }
  .footer--component .content--wrap .menu--wrap ul li a:after {
  }
  .feature--post .right--side h3 {
    font-size: 2em;
  }
  .experience--wrap .section--wrap h3 {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  .QuotesCard_Container {
    // min-height: 300px;
    height: 200px;
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 10px;
    }
  }
}

// Ipad PRO
@media (max-width: 1024px) {
  .headers-common {
    .content {
      p:first-child {
        font-size: em(15);
      }
      p:last-of-type {
        font-size: em(26);
      }
    }
  }
  .footer--component .subscribe--wrap {
    justify-content: center;
    align-items: center;
    .copyrights--content {
      width: 70%;
    }
  }
  .first-header {
    .content {
      p:first-child {
        font-size: em(30);
      }
      p:last-child {
        font-size: em(20);
      }
    }
  } // - Main Banner
  .banner--section .content h1 {
    font-size: em(25);
  }
  .TicketsWrap {
    .V3 {
      max-width: 920px;
    }
    .V2 {
      max-width: 920px;
    }
  }
  .TicketsWrap {
    .V3 .purple {
      left: 60px;
    }
    .V2 .purple {
      left: 60px;
    }
  }
  .TicketsWrap .item .Price-Table .price--head h4 {
    line-height: auto;
  }
  .footer--component .content--wrap {
    display: flex;
    flex-direction: column;
    .menu--wrap {
      margin-top: 0;
      ul {
        li {
          a {
            font-size: em(13);
          }
        }
      }
    }
  }
  .footer--component h6 {
    margin: 20px 0;
    font-size: em(11);
  }
  .footer--component .subscribe--wrap .copyrights--content {
    align-items: center;
    justify-content: center;
  }
  .feature--post .left--side .Tracks--navbar li a,
  .feature--post .left--side .Tracks--navbar li.active a {
    width: 160px;
    height: 160px;
    span {
      line-height: 160px;
      font-size: 20px;
    }
  }
  .feature--post .left--side .Tracks--navbar li:nth-child(3) {
    top: 180px;
    left: 179px;
  }
  .nav--wrap.Activities {
    margin-top: -60px;
  }
  .nav--wrap.Activities li div {
    font-size: 1em;
    padding: 10px;
  }
  .feature--post .right--side .link {
    font-size: 1em;
    img {
      width: 15px;
    }
  }
  .faqs--wrap .faqs--list .faq--item {
    width: calc(100% / 2 - 20px);
  }
  .TicketsWrap.V2 .item {
    margin-right: 30px;
    .Price-Table .content .number--left {
      left: -15px;
    }
  }
  .TicketsWrap.V3 .item {
    margin-right: 30px;
    .Price-Table .content .number--left {
      left: -15px;
    }
  }
  .QuotesCard_Container {
    // min-height: 300px;
    height: 200px;
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 10px;
    }
  }
}

@media (max-width: 768px) {
  .videoFrame {
    height: 250px;
  }
  .footer--component {
    .content--wrap {
      .subscribe--wrap {
        flex: 1;
        .btn-newsletter {
          width: 100%;
          font-size: em(16);
        }
        .copyrights--content {
          width: 70%;
        }
      }
    }
  }
  .first-header {
    .content {
      p:first-child {
        font-size: em(25);
      }
    }
  }
  .Homepage--slider .item {
    .slider-first {
      transform: translateY(-10%);
    }
    .slider-second {
      transform: translateY(-10%);
    }
    .slider-third {
      transform: translateY(-10%);
    }
    .slider--caption {
      .title {
        font-size: em(12);
        letter-spacing: 13px;
        max-width: 500px;
      }
      .sub-title {
        font-size: em(24);
        max-width: 400px;
      }
      .description {
        line-height: 12px;
        font-size: em(12);
        max-width: 80%;
      }
    }
  }
  .timeline-wrap .time-line-list .content ul li {
    width: 50%;
  }
  .my-experience.sessions--list .item .content--info {
    ul {
      min-height: 50px;
    }
  }
  .my-experience.sessions--list .item .content--info .btn-default {
    font-size: 0.8em;
  }
  .my-experience.sessions--list .item {
    width: calc(47% - 20px);
  }
  .feature--post {
    .videoContainer {
      width: 100%;
    }
    flex-direction: column;
  }
  .feature--post .products_wrap .product h4:before {
    display: none;
  }
  .sessions--wrap__content .sessions--list .item {
    width: calc(50% - 40px);
  }
  .tracks-wrap__v2 .tracks-list .item {
    width: 100%;
    margin-bottom: 40px;
  }
  .partners--wrapper .partner--section__content ul li {
    width: 25%;
    padding: 15px;
    img {
      max-width: 100px;
    }
  }
  .downtown--section p {
    max-width: 90%;
  }
  .downtown--section ul {
    flex-wrap: wrap;
    li {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  .badge {
    display: none;
  }
  .satellieEvent .category-section.steps ul li:after {
    display: none;
  }
  .feature--post .right--side .open--text {
    margin-top: 15px;
  }
  .experience--wrap .section--wrap {
    padding: 30px;
  }
  .experience--wrap .steps--wrap .item {
    width: calc(100% / 2 - 30px);
  }
  .partnerships--wrap .feature--post .right--side {
    padding-bottom: 10px;
  }
  .partnerships--wrap .partnerships--list .list-wrap .item {
    width: calc(100% / 2 - 30px);
  }
  .feature--post .right--side.noParllex {
    margin-top: -1px;
  }
  .TicketsWrap.V2 {
    max-width: 720px;
  }
  .TicketsWrap.V3 {
    max-width: 720px;
  }
  .main--menu .menu--nav .menu--items .items > li {
    display: none;
    &:last-child {
      margin-right: 30px;
      z-index: 10000;
      display: inline-block;
    }
  }
  .riseup--products ul {
    justify-content: center;
    a {
      font-size: em(8);
    }
  }
  .main--menu .mobile--navigation--trigger {
    visibility: visible;
  }
  .main--menu {
    .mobile--navigation {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
    }
  }
  .main--menu .menu--nav {
    .menu--logo {
      z-index: 1000;
    }
  }
  .main--menu .menu--nav .menu--logo img {
    width: 110px;
  }
  .speakers--search .input--wrap {
    width: 80%;
    margin: 15px auto;
  }
  .TicketsWrap.V2 {
    display: block;
    .item {
      width: 100%;
      margin: 0;
      margin-bottom: 180px;
      .Price-Table .content .number--left {
        left: 20px;
      }
    }
    .purple {
      left: 30px;
    }
  }
  .TicketsWrap.V3 {
    display: block;
    .item {
      width: 100%;
      margin: 0;
      margin-bottom: 220px;
      .Price-Table .content .number--left {
        left: 20px;
      }
    }
    .purple {
      left: 30px;
    }
  }
  .speakers--list .speakers--list-current {
    margin: 0;
  }
  .speakers--list .speakers--list-current .speaker--item {
    width: 50%;
  }
  .reversed-feature-post {
    .HomeHx {
      padding-top: 0;
    }
    img {
      width: 100%;
    }
    display: flex;
    flex-direction: column-reverse;
  }
  .normal-feature-post {
    display: flex;
    flex-direction: column;
  }
  .feature--post {
    width: auto;
    h3:after {
      margin-left: -30px;
    }
    .right--side {
      width: 100%;
      display: block;
      padding: 60px;
      &.noParllex {
        padding-left: 40px;
        border: 0;
      }
      h3:after {
        margin-left: -20px;
      }
    }
    .left--side {
      width: 100%;
      .Tracks--navbar {
        position: relative;
        width: 88%;
        margin: auto;
        margin-top: 0;
        li:nth-child(1) {
          top: 40px;
          left: 30px;
        }
        li:nth-child(2) {
          top: 40px;
          left: 256px;
        }
        li:nth-child(3) {
          top: 40px;
          left: 482px;
        }
      }
    }
  }
  .satellite--events-list .event .event--details h3 {
    font-size: 1.3em;
  }
  .feature--post .right--side {
    border: 0;
  }
  .nav--wrap.Activities {
    margin-top: -79px;
    background-color: #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    div {
      // color: $blue;
      font-size: 0.9em;
      &.active {
        color: $blue;
      }
    }
  }
  .faqs--wrap .faq--title {
    float: none;
    font-size: 1.5em;
    max-width: 100%;
  }
  .HomeHx {
    padding-top: 40px;
    img {
      margin: 0 auto;
    }
  }
  .intro--date .overlay p {
    font-size: 2em;
  }
  .feature--post .right--side {
    text-align: center;
    h3:after {
      margin: 15px auto;
    }
  }
  .about--wrap .feature--post .left--side.tabs {
    position: relative;
  }
  .QuotesCard_Container {
    // min-height: 300px;
    height: 200px;
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 10px;
    }
  }
  .feature--slider {
    .item {
      max-height: 1000px;
    }
  }
}

@media (max-width: 1280px) {
  .ReactModal__Overlay .speaker-modal--preview .speaker--details .content {
    height: 400px;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .my-experience.sessions--list .item .content--info .btn-default {
    padding: 7px 15px;
  }
}

@media (max-width: 480px) {
  .first-header {
    background-position-y: 50%;
  }
  .headers-common {
    .content {
      p:first-child {
        letter-spacing: 10px;
        font-size: em(9);
      }
      p:last-of-type {
        font-size: em(20);
      }
      img {
        width: 100%;
      }
    }
  }
  .footer--component {
    .content--wrap {
      .subscribe--wrap {
        flex: 1;
        .btn-newsletter {
          width: 100%;

          font-size: 0.7em;
          padding-top: 10px;
        }
      }
    }
  }
  .timeline-wrap .time-line-list .content h1 {
    font-size: 24px;
  }
  .timeline-wrap .time-line-list .content h2,
  .timeline-wrap .time-line-list .content {
    max-width: 100%;
  }
  .timeline-wrap .time-line-list .content ul li {
    width: 100%;
  }
  .my-experience.sessions--list .item {
    width: calc(100%);
  }
  .sessions--wrap__content .sessions--list .item {
    width: calc(100% - 40px);
  }
  .ReactModal__Overlay .speaker-modal--preview .speaker--details .content h3 {
    font-size: 1.6em;
  }
  .ReactModal__Overlay .speaker-modal--preview .speaker--details .content h5 {
    font-size: 1em;
  }
  .ReactModal__Overlay .speaker-modal--preview .speaker--details .content {
    padding: 50px 20px;
    height: 500px;
    overflow: scroll;
  }
  .agenda--tabs--wrapper .agenda--tabs li a .day span {
    position: relative;
    top: 0;
  }
  .agenda--tabs--wrapper .agenda--tabs li a {
    padding: 10px 25px;
    p {
      line-height: 20px;
    }
    .day {
      font-size: 0.8em;
      i {
        margin-left: 0;
      }
    }
  }
  .corp-modal--preview {
    width: 100%;
  }
  .partners--wrapper .partner--section__content ul li {
    width: 50%;
  }
  .downtown--section ul {
    li {
      width: 100%;
    }
  }
  .satellieEvent .category-section.steps ul {
    display: inherit;
    li {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .satellieEvent .category-section.tags ul {
    display: block;
    li {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .satellieEvent .category-section .content-wrap {
    flex-direction: column;
    ul {
      max-width: 100%;
      &::before {
        bottom: 78px;
      }
    }
    .popup {
      visibility: visible;
      max-width: 100%;
    }
  }
  .experience--wrap .feature--post .right--side {
    padding-top: 80px;
  }
  .main--menu .menu--nav .menu--items .items li a.menu--btn {
    margin-top: 15px;
  }
  .experience--wrap .section--wrap {
    padding: 15px;
  }
  .experience--wrap .section--wrap h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .experience--wrap .steps--wrap .item {
    width: calc(100% - 30px);
  }
  .partnerships--wrap .partnerships--list .list-wrap .item {
    width: calc(100% - 30px);
    .details {
      h3 {
        font-size: em(16);
      }
    }
  }
  .partnerships--wrap .parllex-fix .section {
    padding: 0 !important;
  }
  .downtown--section h3 {
    font-size: 2em;
  }
  .intro--date .overlay h2 span {
    position: static;
  }
  .feature--post .right--side {
    padding: 20px;
    p {
      font-size: 0.9em;
      line-height: 1.8em;
    }
  }
  .speakers--list {
    padding: 60px 0;
  }
  .carousel-inner > .item > img {
    max-width: 100%;
    height: 160px;
  }
  .speakers--list .speakers--list-current {
    margin: 0;
  }
  .speakers--list .speakers--list-current .speaker--item.apply .content a {
    margin-top: 60px;
  }
  .speakers--list .more--wrap .see-button {
    display: none;
  }
  .speakers--list .speakers--list-current .speaker--item.apply {
    height: 200px;
    background-color: #f1f1f1;
  }
  .footer--component .copyrights--content h6 {
    font-size: 0.8em;
  }
  .Homepage--slider .item {
    .slider-first {
      transform: translateY(-10%);
    }
    .slider-second {
      transform: translateY(-10%);
    }
    .slider-third {
      transform: translateY(-10%);
    }
    .slider--caption {
      .title {
        font-size: em(9);
        letter-spacing: 12px;
        max-width: 500px;
      }
      .sub-title {
        font-size: em(20);
        max-width: 400px;
      }
      .description {
        line-height: 12px;
        font-size: em(9);
        max-width: 80%;
      }
    }
  }
  .corp--wrap .item {
    width: calc(100% / 2);
    a img {
      max-width: 150px;
    }
  }
  .footer--component .copyrights--content h6 {
    line-height: 20px;
  }
  .footer--component .content--wrap .menu--wrap ul li {
    display: block;
  }
  .ReactModal__Overlay .speaker-modal--preview .speaker--img img {
    display: none;
  }
  .intro--date .overlay {
    h2 {
      font-size: 5em;
    }
    p {
      letter-spacing: 10px;
      font-size: 1.5em;
    }
  }
  .HomeHx {
    img {
      // width: 250px;
      height: 250px;
    }
  }
  .banner--section .content {
    h1 {
      font-size: 1.8em;
    }
    .left--side {
      left: 15px;
    }
    .right--side {
      right: 15px;
    }
  }
  .speakers--list .speakers--head,
  .speakers--info-section .info-item h2,
  .section--header.section {
    font-size: 1.2em;
    max-width: 95%;
    line-height: 2.2em;
  }
  .speakers--info-section .info-item span {
    font-size: 1em;
  }
  .speakers--info-section .info-item img {
    width: 3em;
  }
  .speakers--list {
    padding-top: 30px;
  }
  .open--text {
    margin-top: 30px;
  }
  .open--text--largeBlue {
    margin: 30px 0;
  }
  .satellite--events-list {
    margin: 0 30px;
    .event {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      &:nth-child(2n-1) {
        width: 100%;
        margin-right: 0;
      }
      .event--details .date {
        right: -10px;
      }
    }
  }
  .nav--wrap {
    margin-top: -50px;
    li div {
      font-size: 1em;
    }
  }
  .speakers--info-section .info-item {
    padding: 60px 0;
  }
  .feature--post .left--side .Tracks--navbar li a,
  .feature--post .left--side .Tracks--navbar li.active a {
    width: 100px;
    height: 100px;
    span {
      line-height: 100px;
      font-size: 0.8em;
    }
  }
  .feature--post .left--side {
    .Tracks--navbar {
      width: 100%;
      li:nth-child(1) {
        top: 40px;
        left: 30px;
      }
      li:nth-child(2) {
        top: 40px;
        left: 160px;
      }
      li:nth-child(3) {
        top: 40px;
        left: 287px;
      }
    }
  }
  .nav--wrap.Activities li a {
    font-size: 0.6em;
  }
  .nav--wrap.Activities {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(50% - 2px);
      margin: 1px;
    }
  }
  .feature--post .slog {
    font-size: 1em;
  }
  .riseup--products ul a {
    font-size: 0.6em;
  }
  .speakers--head.speakers--head2 {
    font-size: 2em;
  }
  .speakers--list .speakers--list-current {
    margin: 0;
  }
  .speakers--list .speakers--list-current .speaker--item {
    width: 100%;
  }
  .speakers--list .speakers--list-current .speaker--item {
    height: 350px;
  }
  .riseup--products ul a {
    padding: 9px;
  }
  .speakers--search .input--wrap .input {
    font-size: 1em;
  }
  .tickets--package .TicketsWrap.V2 {
    max-width: 95%;
  }
  .tickets--package .TicketsWrap.V3 {
    max-width: 95%;
  }
  .faqs--wrap .faqs--list .faq--item {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .apps--download h2 {
    font-size: 2em;
  }
  .riseup--products ul {
    justify-content: center;
    a {
      font-size: em(6);
    }
  }
  .QuotesCard_Container {
    // min-height: 300px;
    height: 200px;
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 10px;
    }
  }
  .reversed-feature-post {
    img {
      width: 100%;
    }
  }
}
